[2022-01-13 16:10] platten opened #1227 "Document Enarx Process"

[2022-01-13 16:12] #1096 closed

[2022-01-13 16:13] platten opened #1228 "Disable Enarxbot"

[2022-01-13 16:27] bstrie opened #1229 ""Hello, world" example prints output with KVM, but not SGX"
Steps to reproduce:

- Log in to icelake.sgx.lab.enarx.dev
- Follow the steps in the Installation Guide up to "Running Enarx" (https://enarx.dev/docs/Installation/Wasm)
- Run `enarx run target/wasm32-wasi/release/hello-world.wasm 2>/dev/null`

Expected output:
[code]

Actual output: none

Note that the following command does print the expected output: `enarx run --backend kvm target/wasm32-wasi/re

[2022-01-13 20:06] platten opened #1230 "shim-sgx: deliver SIGFPE to user space"
# Description:
userspace might rely on SIGFPE for calculations.

SGX version of #995

[2022-01-13 21:29] platten commented on #1133
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1133?planning-poker) with ZenHub @npmccallum @haraldh

[2022-01-13 21:29] platten commented on #1228
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1228?planning-poker) with ZenHub @npmccallum

[2022-01-13 21:30] platten commented on #1005
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1005?planning-poker) with ZenHub @haraldh @npmccallum

[2022-01-13 21:30] platten commented on #1000
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1000?planning-poker) with ZenHub @jarkkojs @npmccallum @haraldh

[2022-01-13 21:31] platten commented on #1143
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1143?planning-poker) with ZenHub @haraldh @npmccallum

[2022-01-13 21:31] platten commented on #1223
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1223?planning-poker) with ZenHub @haraldh @npmccallum

[2022-01-13 21:31] platten commented on #1211
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1211?planning-poker) with ZenHub @haraldh @npmccallum

[2022-01-13 21:32] platten commented on #1225
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1225?planning-poker) with ZenHub @haraldh @jarkkojs @npmccallum

[2022-01-13 21:33] platten commented on #1226
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1226?planning-poker) with ZenHub @haraldh @npmccallum

[2022-01-13 21:33] platten commented on #1221
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1221?planning-poker) with ZenHub @haraldh @npmccallum

[2022-01-13 21:33] platten commented on #1218
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1218?planning-poker) with ZenHub @haraldh @npmccallum

[2022-01-13 21:34] platten commented on #1214
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1214?planning-poker) with ZenHub @npmccallum @haraldh @jarkkojs

[2022-01-13 21:34] platten commented on #1029
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1029?planning-poker) with ZenHub @haraldh @jarkkojs @npmccallum

[2022-01-13 21:35] platten commented on #1216
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1216?planning-poker) with ZenHub @haraldh @jarkkojs @npmccallum

[2022-01-13 21:39] platten commented on #1227
@npmccallum Do you have some good examples of release process documentation which could help define the acceptance criteria?

[2022-01-14 10:12] haraldh commented on #1221
In theory we can just skip this patch, because we are not using it as an enclave kernel.

[2022-01-14 13:10] haraldh commented on #1223
@npmccallum : Currently it returns `TEE_NONE` on KVM

[2022-01-14 13:56] haraldh commented on #1133
We don't support the `nanosleep` syscall 35 yet.

[2022-01-14 14:00] haraldh commented on #1133
@rwwwwww21 you can't open files in the enclave yet... it has no filesystem yet.

[2022-01-14 15:43] haraldh commented on #1229
confirmed.. with the current main HEAD

[code]

[2022-01-14 15:46] haraldh commented on #1229
whereas kvm works:

[code]

[2022-01-14 17:44] nickvidal commented on #1229
I can also confirm, @haraldh. Last I checked, this was working. Any ideas why it has failed now?

[2022-01-14 17:47] nickvidal commented on #1133
Hi @haraldh and @platten, do we have an estimate of when we'll support filesystem just so that @rwwwwww21 is aware?

[2022-01-14 18:07] haraldh commented on #1133
@nickvidal I would guess a couple of months

[2022-01-14 18:08] haraldh commented on #1229
different wasm code emitted by the newer rust compiler

[2022-01-14 18:09] haraldh commented on #1229
just a guess

[2022-01-15 04:41] rwwwwww21 commented on #1133
Thanks for your reply! But why don't appear `unsupport syscall`  which in the `unknown_syscall`?

[2022-01-17 09:23] haraldh commented on #1133
You have to compile it yourself from the git repo, with the `dbg` feature enabled to get that output.

[code]

[2022-01-17 09:33] rwwwwww21 commented on #1133
Thanks! But I still feel comfused about this question.

[2022-01-17 12:25] haraldh commented on #1190
Case solved... it's the XFRM mask for the enclave.
[code]

works with:
[code]

[2022-01-17 13:21] MikeCamel opened #1232 "Create application-level tests for each release"
We currently don't have any official application-level tests.  We should have at least one per version, designed to:

1. exercise all new functionality and features in the new release, to allow for "DONE" testing;
2. alert us to regressions;
3. act as an example for people wishing to write Enarx workloads;
4. be heavily documented to show what works and what doesn't.

Some of these may double as d

[2022-01-17 13:22] MikeCamel commented on #1232
Note: unclear to me in which Epic this should reside.

[2022-01-17 13:34] npmccallum commented on #1190
@haraldh Is there any reason not to apply this patch?

[2022-01-17 13:59] haraldh commented on #1133
@rwwwwww21 This environment variable is only set in the host environment. It is not passed to the keep environment and not further not passed to the wasm environment.

[2022-01-17 15:13] npmccallum opened #1235 "pkcs10 crate"
https://github.com/RustCrypto/formats/pull/323

This is a tracking issue for the above crate. It can be closed when the crate is released for public consumption.

[2022-01-17 15:19] npmccallum opened #1236 "valid pkcs10 encoding"
https://github.com/RustCrypto/formats/issues/322

This issue can be closed when the above issue is closed. We can either wait for upstream to fix this or we can contribute a fix.

[2022-01-17 15:37] platten commented on #1223
This is a non-issue and is documented.

[2022-01-17 15:37] #1223 closed

[2022-01-17 15:38] platten opened #1237 "Archive repositories currently not in use"

[2022-01-17 15:46] haraldh commented on #1223
See https://github.com/enarx/enarx/issues/966

[2022-01-17 15:48] haraldh commented on #1133
Opened https://github.com/enarx/sallyport/issues/55 for this.

[2022-01-17 15:48] #1133 closed

[2022-01-17 16:49] #1229 closed

[2022-01-18 14:58] platten opened #1240 "[Feature]: Add project management documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It would be useful to add documentation outlining the agile process for managing the Enarx project.

### Acceptance Criteria

# Document includes:
- [ ] Lifecycle of an issue
  - [ ] Issue filing to resolution process
  - [ ] Overview of rules around how issues get triaged
  - [ ] Guidelines aroun

[2022-01-18 15:10] MikeCamel opened #1241 "There's no template to allow me to create infrastructure requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behavior

The available issue types are too restrictive.

### Expected Behavior

I should be able to file a bug

### Environment Information

There are too many fields to fill in.
And "Behaviour" is spelled incorrectly.

### C

[2022-01-18 15:25] haraldh commented on #1226
@npmccallum : proposal of naming files / sockets/ directories:

[code]

will give inside wasm the environment:
[code]

So the wasm app can create its `File` objects with:

[code]

[2022-01-18 17:32] platten commented on #1206
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Enarx-61d86a4144f52e001a7857d6/issues/enarx/enarx/1206?planning-poker) with ZenHub @bstrie

[2022-01-18 19:54] npmccallum opened #1242 "Add `sock_accept()` support to the `wasi` crate"
This provides Rust bindings for the WASI APIs.

[2022-01-18 19:55] npmccallum opened #1243 "Enable `TcpListener` on Rust `std` for `wasm32-wasi`"

[2022-01-18 19:57] npmccallum opened #1244 "Add support for `sock_accept()` to `wasmtime`"
Blocked by https://github.com/bytecodealliance/wasmtime/pull/3711

[2022-01-18 20:03] npmccallum opened #1245 "Add support for `sock_accept()` to `wasi-libc`"
https://github.com/WebAssembly/wasi-libc

[2022-01-18 20:05] npmccallum opened #1246 "Create a demo of an `axum` "Hello World" server running in wasm32-wasi"

[2022-01-18 20:30] npmccallum commented on #1242
Support for `sock_accept()` was merged:
https://github.com/bytecodealliance/wasi/pull/62

A release containing the new API has been pushed:
https://crates.io/crates/wasi

I'm waiting to close this issue until we discuss it tomorrow.

[2022-01-18 20:48] npmccallum commented on #1212
Note that the code in the `sgx` crate probably doesn't belong there (at least yet). It should probably belong in the test for now.

[2022-01-19 07:04] bstrie commented on #726
After poking around, anyhow is already being used a fair bit in the codebase. At this point it seems like that if there are any places left that could benefit from using anyhow, then it makes sense to just treat that as a casual best-effort refactoring rather than anything that needs to be tracked by a dedicated issue.

The Error Handling Project Group has made great progress towards integrating t

[2022-01-19 15:11] platten commented on #1246
Axum is a suggestion for demonstrating a major web framework running in a keep.

[2022-01-19 15:16] platten commented on #1029
Blocked on milan kernel issues.

[2022-01-19 15:25] platten commented on #1221
Booted in the infrastructure, no longer an issue.

[2022-01-19 15:25] #1221 closed

[2022-01-19 15:34] npmccallum commented on #1242
Released in 0.11.0: https://github.com/bytecodealliance/wasi/pull/62

[2022-01-19 15:34] #1242 closed

[2022-01-20 11:47] rvolosatovs commented on #964
This happens by design in sallyport, what should happen in enarx for this feature to be closed? @haraldh
Is this a duplicate of #1062 ?

[2022-01-20 15:16] jarkkojs opened #1251 "[Bug]: Stack protector breaks compilation for tests/bin"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behavior

[code]

### Expected Behavior

no compilation error

### Environment Information

Arch Linux

### Contact Details

jarkko.sakkinen@iki.fi

### Steps To Reproduce

N/A

[2022-01-20 15:26] nickvidal commented on #1162
ZenHub does provide some options to visualize dependencies between issues/PRs, even across workspaces:

https://help.zenhub.com/support/solutions/articles/43000010349-create-github-issue-dependencies

While not exactly the dependency graph originally envisioned, this might be enough for our needs currently.

[2022-01-20 15:26] #1162 closed

[2022-01-20 15:47] platten opened #1252 "[Infrastructure]: Define RACI & support model for lab infrastructure"

[2022-01-20 17:42] platten commented on #1252
@npmccallum @MikeCamel @nickvidal @haraldh anything to add/change/remove?

[2022-01-20 17:53] jarkkojs commented on #1199
Adding link to the aesmd's source code for reference: https://github.com/intel/linux-sgx/tree/master/psw/ae/aesm_service

[2022-01-21 03:14] bstrie commented on #1236
PR submitted at https://github.com/RustCrypto/formats/pull/349.

[2022-01-21 06:56] jarkkojs commented on #1000
I already have almost finished patch for https://github.com/rust-osdev/x86_64.git but I bumped also to this:

https://docs.rs/x86_64-xsave/latest/x86_64_xsave/

It has a lot of intersection without our xsave crate. So should I continue doing what I'm doing or?

[2022-01-21 07:01] jarkkojs commented on #1000
The project I pointed out looks more abstracted than the stuff in x86_64 crate so I'll at least make a PR available over there.

[2022-01-21 09:14] MikeCamel commented on #1252
Looks good to me.  Only suggestion is a definition of RACI for those unfamiliar (or a link).

[2022-01-21 13:42] platten opened #1261 "[Feature]: Publish scripts & documentation for local virtualized developer environments (KVM-only)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Provide an easy path to get started using user experience, around using `enarx` to develop new software and to develop and test functionality not requiring the use of Intel SGX or AMD SEV instructions.

### Acceptance Criteria

- [ ] Create new repository for storing virtual developer environments

[2022-01-21 14:05] haraldh commented on #1244
https://github.com/bytecodealliance/wasmtime/pull/3711

[2022-01-21 14:06] haraldh commented on #1243
https://github.com/rust-lang/rust/pull/93158

[2022-01-21 15:49] #1008 closed

[2022-01-21 16:15] haraldh opened #1262 "[Feature]: use gdbstub 0.6.x"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Update the gdb coce to make use of the new gdbstub API introduced with 0.6. This will simplify things and make the connection with gdb more stable.

### Acceptance Criteria

_No response_

### Contact Details

_No response_

### Suggestions for a technical implementation

_No response_

[2022-01-21 17:01] jarkkojs commented on #1000
Thanks for re-opening this. It was triggered by a commit with `Closes: #1000`

[2022-01-21 19:01] jarkkojs opened #1263 "[Bug]: Fix enarx/STYLE.md group definition"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Currently the guidelines say how to use a group before defining what is meant by a group.

### Expected Behaviour

Define the term before using it.

### Environment Information

N/A

### Steps To Reproduce

_No resp

[2022-01-21 19:36] jarkkojs commented on #1190
Running `ENARX_BACKEND=sgx RUSTFLAGS='-C target-cpu=x86-64-v4' cargo test`gives consistently:

[code]

[2022-01-21 19:39] jarkkojs commented on #1190
I verified that I can compile C programs with libssl linked and pkgconfig is configured correctly, i.e. `/usr/lib/pkgconfig/libssl.pc` exists.

[2022-01-21 19:43] platten commented on #1211
@haraldh Is this working and can we close this?

[2022-01-21 20:02] haraldh commented on #1211
@platten nobody has written the test yet

[2022-01-21 21:26] #1263 closed

[2022-01-22 00:26] jarkkojs commented on #1000
Updated PR https://github.com/rust-osdev/x86_64/pull/336 and I also dropped the Closes tag. It is better to use it for changes that migrate Enarx and xsave to use it.

[2022-01-22 20:23] jarkkojs opened #1265 "[Bug]: `ENARX_BACKEND={sgx,sev} RUSTFLAGS='-C target-cpu=x86-64-v4' cargo test` causes `SIGILL`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

This happens in both my local machines and also lab machines:

[code]

If `RUSTFLAGS='-C target-cpu=x86-64-v4'` is left out, then `cargo test` is succesful.

This issue blocks #1190, which uses `RUSTFLAGS='-C target

[2022-01-22 20:25] jarkkojs commented on #1265
@haraldh I only assigned this to you given that you're author for #1190, and need some input on this and #1190. Maybe the key question is that do I need `RUSTFLAGS='-C target-cpu=x86-64-v4'` in the first place?

[2022-01-22 20:30] jarkkojs commented on #1190
@haraldh Did you *already* have success with this or should I investigate on Monday?

[2022-01-22 21:54] npmccallum commented on #1190
@jarkkojs  if this begins to look non-trivial, let's move on to attestation which is far more important.

[2022-01-22 23:10] jarkkojs commented on #1190
There is couple of opcodes that can be used in ECDSA implementation:

- VPMADD52HUQ
- VPMADD52LUQ

These can be used to implement multiplications in ECDSA. We can postpone this if we have the knowledge that aesmd does not have any code invoking these. I honestly know.

[2022-01-23 12:30] jarkkojs commented on #1212
What is `getatt()`? Not aware of such syscall.

[2022-01-24 04:53] #1029 closed

[2022-01-24 04:53] #1251 closed

[2022-01-24 12:28] haraldh commented on #1265
I have no problems building on my machine and the lab machines. The only problem is running the code.

[2022-01-24 12:29] haraldh commented on #1190
compiling/building works for me... at my machine and the lab machines... Running (cargo test) fails.

[2022-01-24 14:24] #1241 closed

[2022-01-24 14:40] jarkkojs commented on #1265
What does `RUSTFLAGS='-C target-cpu=x86-64-v4'` do?

[2022-01-24 14:41] jarkkojs commented on #1190
OK

Right my bad. `cargo test` is what fails. Thanks for correction.

[2022-01-24 15:02] haraldh commented on #1190
Oh, with my mentioned patch, it all works now somehow... so we should apply it :)

[2022-01-24 16:06] platten opened #1268 "[Infrastructure]: 0.2 Release Application Level Tests."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

# Acceptance Criteria:
- [x] Exercise functionality for echo server using new networking functions
- [x] Run SEV `getatt()` tests()

[2022-01-24 19:31] npmccallum commented on #1212
@jarkkojs https://github.com/enarx/enarx/wiki/Enarx-syscall:-get_attestation

[2022-01-25 14:35] jarkkojs commented on #1212
Thanks.

[2022-01-25 14:36] jarkkojs commented on #1199
I'll wire up first patches today but why it needs to be in Gitlab?

[2022-01-25 16:35] Deepansharora27 commented on #1246
I would like to work on this @npmccallum @platten

[2022-01-25 16:35] Deepansharora27 commented on #1098
I would like to give this a shot @MikeCamel

[2022-01-25 18:10] platten commented on #1098
The issue is yours @Deepansharora27 😄

[2022-01-25 18:12] rvolosatovs opened #1730 "[Feature]: Improve test coverage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

To speed up development, tests for some of the more trivial syscalls were not added - that should be fixed.
We should also test the opaque `Handler::syscall` method

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

Augment `tests/integration_tests.rs`

[2022-01-25 21:53] bstrie opened #1269 "[Tracking]: Pursue stabilization for Rust RFC 2972: "Constrained Naked Functions""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In service of getting off of the nightly Rust toolchain and onto the stable one, we need upstream Rust to finish stabilizing some of the necessary features that we rely on. This issue tracks the stabilization of one such feature, constrained naked functions: https://github.com/rust-lang/rust/issue

[2022-01-25 21:57] bstrie commented on #1236
https://github.com/RustCrypto/formats/pull/349 has been accepted, the next step is to wait for a new release of `der_derive` to be published.

[2022-01-25 22:15] bstrie commented on #1202
Tracking the progress of https://github.com/rust-lang/cargo/pull/9992

[2022-01-25 22:23] bstrie commented on #1202
Also tracking the progress of https://github.com/rust-lang/cargo/pull/10061

[2022-01-25 23:51] bstrie commented on #1178
Is the scope of this issue specifically restricted to enarx itself (and all of its transitive dependencies), or does it extend to every repo within the Enarx Github organization?

[2022-01-26 00:59] jarkkojs opened #1270 "[Bug]: Using direct feature flag in the source code considered harmful"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Consider a rustc feature flag, any of them, so we can just call it `a_feature`.

The problem statement is that rustc does not currently support the following conditions:

- Enable default features.
- Disable a singl

[2022-01-26 01:01] jarkkojs commented on #1270
My proposal is this:

- For any flag `a_feature`, introduce `enarx_a_feature`.
- Use `enarx_a_feature` in the place of `a_feature`.

[2022-01-26 04:55] jarkkojs commented on #1268
I plan to demo this but do I need to follow this or what is the plan?

[2022-01-26 06:55] jarkkojs commented on #1190
I'll check quickly.

[2022-01-26 06:56] jarkkojs commented on #1190
@haraldh Can you make a PR, or did you have one already?

[2022-01-26 10:37] moksh-pathak commented on #1208
Hey! I would like to take up this issue.

[2022-01-26 13:59] rvolosatovs opened #1731 "[Feature]: Inline functions on hot path"

[2022-01-26 14:08] platten opened #1274 "[Bug]: unix_echo test failing in debug mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Test timing out.

### Expected Behaviour

Test not timing out.

### Environment Information

CI

### Steps To Reproduce

_No response_

[2022-01-26 14:18] platten opened #1275 "[Bug]: `clock_gettime` integration test fails on debug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

[code]

### Expected Behaviour

Test pass.

### Environment Information

CI, especially on sev test system on debug

### Steps To Reproduce

_No response_

[2022-01-26 14:51] haraldh opened #1277 "[Feature]: SEV: report context() for IO errors failure on Launcher errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

SEV-SNP has a limit of VMs, which can be started.
Provide the information to the end user, when the sev Launcher is failing with an IO error, via the `anyhow::context()`.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-01-26 15:26] #1270 closed

[2022-01-26 15:26] platten commented on #1270
Working as intended.

[2022-01-26 18:33] Deepansharora27 opened #1280 "Feature : Working on a Code Walkthrough for the Enarx Project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

As of now, if we closely have a look, we are not having any content piece on the Internet giving a detailed walkthrough of the codebase for the Enarx Project. Any new member who is joining the Enarx Community for the first time and is interested in contributing via code to the Enarx Project can fa

[2022-01-26 18:49] npmccallum commented on #1280
@nickvidal Can you please review this?

[2022-01-27 09:37] rwwwwww21 opened #1281 "[Feature]: Can enarx support sgx driver like isgx?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I'd like to try enarx in my own computer. But unfortunately, my computer cannot support to install `sgx_enclave` driver. Could enarx support `isgx` driver?

I tried to modify `sgx_enclave` to `isgx`, but got error: Invalid argument (os error 22).

### Acceptance Criteria

_No response_

### Sugges

[2022-01-27 12:14] haraldh commented on #1244
Wasmtime tracking issue: https://github.com/bytecodealliance/wasmtime/issues/3730

[2022-01-27 13:06] haraldh commented on #1275
Make a PR to change the test:
1. get time `before_test`
2. get test result `test_time`
3. get time `after_test`

assert that `before_test` < `test_time` < `after_test`

[2022-01-27 13:36] nickvidal commented on #1280
Thank you @Deepansharora27 for your thoughtful suggestions. I believe both suggestions (#1 & #2) are valid and I agree #1 (Shadow program) is the better option.

There's one other particularity to this, which is that not all developers will be interested in the Enarx codebase itself (the internals), but rather on building applications on top of Enarx. In fact, my feeling is that most developers wi

[2022-01-27 13:51] haraldh commented on #1265
@jarkkojs sets the x86-64 microarchitecture level
see https://developers.redhat.com/blog/2021/01/05/building-red-hat-enterprise-linux-9-for-the-x86-64-v2-microarchitecture-level

[2022-01-27 13:52] haraldh commented on #1225
Maybe closed by https://github.com/enarx/enarx/pull/1231

[2022-01-27 13:52] haraldh commented on #1225
@definitelynobody ?

[2022-01-27 13:53] haraldh commented on #1190
@jarkkojs here you go

[2022-01-27 14:31] Deepansharora27 commented on #1280
I 100% agree with you on this @nickvidal

Our Developer community can be seggregated into two parts:
People who are interested in the internal architecture and working for Enarx and Application Developers.

As you also mentioned here that we do can have something like a **Curriculum** /**Playbook** and that will also prove very beneficial to the Community.

I have also some amazing tutorials in Pi

[2022-01-27 15:08] platten commented on #1281
isgx is an out of tree kernel module and as we are focusing on a good upstream experience and prioritizing that at this time.

[2022-01-27 15:08] #1281 closed

[2022-01-27 15:16] #1225 closed

[2022-01-27 16:00] haraldh opened #1284 "[Feature]: Put the C integration tests behind a feature flag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The C integration tests need a musl-gcc toolchain are basically only needed for bootstrapping a new shim or sallyport like crate.

Only running them by knowledgeable developers who know what the feature flag means, that the CI has less workload and the developer environment is easier to create.

#

[2022-01-27 16:03] platten opened #1732 "[Feature]: Fuzz the sallyport crate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Following the discussion on 2022-01-27, it would make sense to fuzz the data going into sallyport.

### Acceptance Criteria

Added fuzzing step as part of CI.

### Suggestions for a technical implementation

Perhaps it would make sense to use `cargo-fuzz`.

[2022-01-27 23:26] definitelynobody opened #1286 "[Feature]: Setup git precommit hooks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It would be helpful to create a precommit hook to run formatting and linting checks before you commit.
If you want to ignore the precommit when you commit something you can just pass `-n` and it will be skipped so it's not too invasive.

### Acceptance Criteria

When commits are made a git precomm

[2022-01-28 01:21] jarkkojs commented on #1199
Related: https://lore.kernel.org/linux-sgx/YfNElmmBbkw1Xpfy@iki.fi/

[2022-01-28 09:45] jarkkojs commented on #1199
I made a MR/PR (ugh):

https://gitlab.com/enarx/aesmd/-/merge_requests/1

For reference:

# How to use this container

Check that this returns `1` so that user namespace can be used without a root
account:

[code]

Set UID and GID ranges correctly for user namespaces:

[code]

To start a volatile container hosting aesmd, use `podman run`:

[code]

It is necessary to expose `/dev/sgx_enclave` and `

[2022-01-28 14:58] #1000 closed

[2022-01-28 15:19] platten commented on #1286
Perhaps it would make sense to use a pre-push hook.

[2022-01-28 17:40] jarkkojs opened #1291 "[Feature]: Use the MxCsr type from x86_64 crate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Now that x86_64 for crate has MxCsr type it needs to be integrated to xsave and enarx subprojects.

### Acceptance Criteria

Use x86_64 MxCsr and make sure that this won't break any tests (including testing with SEV and SGX backends).

### Suggestions for a technical implementation

_No response_

[2022-01-28 17:43] jarkkojs opened #1292 "[Infrastructure]: Create a subproject for a statically compiled SGX executable for aesmd tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

I need a subproject that will fork kselftest for SGX and replace the existing code with report generation. This binary will very rarely change. It will print out report to stdout and this can be used to test that the comm

[2022-01-28 18:26] jarkkojs commented on #1292
We can close this.

Instead do a merger with enarx and sgx crate so all the attestation code is in a single basket.

[2022-01-28 18:26] #1292 closed

[2022-01-28 21:13] #1199 closed

[2022-01-29 01:31] #1207 closed

[2022-01-29 06:04] jarkkojs opened #1296 "A dangling repository: sgx repository (")."

[2022-01-31 15:05] haraldh commented on #1243
merged

[2022-01-31 15:05] #1243 closed

[2022-01-31 15:06] #1235 closed

[2022-01-31 15:06] npmccallum commented on #1235
This has been merged upstream.

[2022-01-31 15:24] npmccallum commented on #1236
Merged upstream.

[2022-01-31 15:24] #1236 closed

[2022-01-31 15:24] npmccallum opened #1303 "fuzz pkcs10 crate"
The upstream pkcs10 crate could use fuzzing. The x509 crate too.

[2022-01-31 15:50] Deepansharora27 commented on #1205
What are we aiming to achieve this issue @platten

[2022-02-01 08:07] Deepansharora27 commented on #1031
I would like to take this up @npmccallum

[2022-02-01 09:22] haraldh commented on #1244
merged

[2022-02-01 09:22] #1244 closed

[2022-02-01 14:13] #1190 closed

[2022-02-01 14:21] definitelynobody opened #1308 "[Feature]: Fix `cargo doc` warnings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There are some warnings when running `cargo doc`

### Acceptance Criteria

No warnings should occur.

### Suggestions for a technical implementation

_No response_

[2022-02-01 14:59] haraldh commented on #1226
Revised proposal of naming files / sockets/ directories:

[code]

will give inside wasm the environment:
[code]

[2022-02-01 17:38] #1206 closed

[2022-02-01 17:41] #1308 closed

[2022-02-02 07:48] haraldh commented on #1205
@platten without zenhub this issue does not provide a lot of information.

[2022-02-02 13:22] npmccallum commented on #1098
@Deepansharora27 For this issue, just remove [this line](https://github.com/enarx/enarx/blob/main/internal/wasmldr/src/main.rs#L75). That's it!

[2022-02-02 13:27] npmccallum commented on #1208
@bstrie You most recently touched this code. Could you help @moksh-pathak get started?

[2022-02-02 13:28] npmccallum commented on #1208
We will want to have the enarx version in both the json and non-json outputs. We probably want another backend-like object to report global information.

[2022-02-02 13:33] Deepansharora27 commented on #1098
Thanks a lot for your Clarification @npmccallum
Making a PR right away

[2022-02-02 14:19] morbitzer opened #1315 "[Bug]: Unable to Launch SEV(-SNP) keep"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Hi,
I am trying to test the hello world example on SEV-ES and SEV-SNP machines. Unfortunately, I receive the following error when trying to launch the keep:
[code]
I tried to launch the debug version of enarx, but u

[2022-02-02 15:15] haraldh commented on #1315
Make sure you have updated firmware files.
We are using:

https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/plain/amd/amd_sev_fam17h_model0xh.sbin
https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/plain/amd/amd_sev_fam17h_model3xh.sbin
https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/plain/amd/amd_sev_fam19h_model0xh.sb

[2022-02-02 15:16] haraldh commented on #1315
@nickvidal might be good to add to the documentation somewhere...

[2022-02-02 15:25] npmccallum commented on #1315
@haraldh Please file an issue for us to report a clear error message if the platform is not supported.

[2022-02-02 15:28] haraldh opened #1317 "[Bug]: enarx does not check for `SNP` for the `SEV` backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

The checks for the SEV backend only check for the SEV capability.

### Expected Behaviour

The checks for the SEV backend should check for the SEV-SNP capability.

### Environment Information

see https://github.com

[2022-02-02 15:42] haraldh commented on #1315
@npmccallum https://github.com/enarx/enarx/issues/1317

[2022-02-02 17:04] haraldh commented on #1277
see also https://github.com/enarx/enarx/issues/1315

[2022-02-02 17:04] haraldh commented on #1315
@npmccallum  and https://github.com/enarx/enarx/issues/1277

[2022-02-02 17:59] #1098 closed

[2022-02-02 18:19] Deepansharora27 opened #1321 "Introduction of Contributor Guidelines/Resources Section for the Issue Template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Today, I want to suggest a feature for the **Introduction of Contributor Guidelines/Resources Section** for the Issue Template of Enarx Project.

Here,is the reason that we should actively put it on priority to include this Feature :

As a person learns from his mistakes, so did I.
While I was mak

[2022-02-02 18:22] Deepansharora27 commented on #1321
Would love to know what @npmccallum @MikeCamel and @platten  think about this

[2022-02-02 18:25] Deepansharora27 commented on #1321
I wanted to discuss this in the standup call for today, but today I was down with a little bit of fever thus, couldn't participate much

[2022-02-02 18:48] #1317 closed

[2022-02-02 19:45] jarkkojs opened #1322 "[Bug]: Document xchg use."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Looks like a `nop`.

### Expected Behaviour

Add documentation explaining that why `ebx` cannot be consumed.

### Environment Information

-

### Steps To Reproduce

-

[2022-02-02 20:29] jarkkojs commented on #1322
So, the basic idea with this is to document the reasons why `rustc` does not allow the use `rbx` freely in an inline assembly statemnt, as reported by @npmccallum. It's true that`rbx` is in the SystemV ABI a so called callee saved registers, but at least in GCC there's a concept of clobbering built-in to equivalent statement.

[2022-02-03 11:03] #1265 closed

[2022-02-03 11:07] haraldh commented on #1315
@morbitzer please recheck

[2022-02-03 11:08] haraldh commented on #1268
@jarkkojs so you want to "[Create a demo of an `axum` "Hello World" server running in wasm32-wasi](https://github.com/enarx/enarx/issues/1246)" ??

[2022-02-03 11:09] haraldh commented on #1268
@jarkkojs  Sorry, didn't see the SGX attestation on the list.

[2022-02-03 12:00] haraldh commented on #1322
https://doc.rust-lang.org/unstable-book/library-features/asm.html#register-names

https://github.com/rust-lang/rust/blob/master/compiler/rustc_target/src/asm/x86.rs#L163

[2022-02-03 12:57] haraldh commented on #1031
@Deepansharora27 Thank you. Please notify us, when this is ready, as it needs us to create a new repository in the `enarx` organization.

[2022-02-03 13:02] haraldh commented on #1022
very low prio

[2022-02-03 13:13] haraldh commented on #964
After #1062 this issue should be addressed. And no, it is not a duplicate.

[2022-02-03 14:31] rvolosatovs opened #1733 "[Feature]: Introduce host-side call handler"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The host is able to "hook" into the iterator and provide custom handling logic of specific calls via e.g. `filter_map` https://github.com/enarx/sallyport/blob/9504e37c615bbfdeb293168899a0b7e3d74e6f91/src/v2/src/host/mod.rs#L132-L147, but that means that host also needs to be aware of the internal

[2022-02-03 15:15] rajpratyush commented on #1043
Could i take this issue up?

[2022-02-03 15:17] rajpratyush commented on #332
Could i take this issue ?

[2022-02-03 15:19] rajpratyush commented on #1205
could you put up more details on  this issue?

[2022-02-03 15:20] rajpratyush commented on #62
is this issue still open for work?

[2022-02-03 15:23] haraldh opened #1328 "[Feature]: Add mio example for a TCP server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

SSIA

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

* I will push a `mio` crate fork to my private repo with wasm support.
* I will add the tcp_server.rs from the mio examples to the enarx wasm tests.

[2022-02-03 15:32] definitelynobody commented on #1286
I will create a script in the root of the project to allow the user to opt-in to a push hook.

[2022-02-03 15:55] morbitzer commented on #1315
Ah ok, I wasn't aware that SEV-SNP is required, I thought SEV(-ES) would also do. By re-reading the requirements, it says that enarx supports SEV-SNP. I guess what made me assume that SEV also works is that the Technical Overview contains a section on SEV.

Anyhow, I installed the new firmware and new kernel as you mentioned.

![Screenshot from 2022-02-03 16-40-38](https://user-images.githubuserco

[2022-02-03 17:37] #726 closed

[2022-02-03 17:37] #1277 closed

[2022-02-04 00:45] jarkkojs opened #1330 "[Feature]: Document the guidelines for commit messages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- Document motivation behind writing commit messages.
- Document an appropriate structure for a commit message.
- Document the use of widely known tags such as SOB in a commit message.
- Document guidelines for the content of a commit message.
- Document the use Github tags in a commit message.

#

[2022-02-04 00:51] jarkkojs commented on #1330
This should go off-sprint but we need to have this (eventually).

[2022-02-04 00:52] npmccallum commented on #1330
Maybe we should enable this: https://github.com/marketplace/actions/opinionated-commit-message

[2022-02-04 00:54] jarkkojs commented on #1330
I think this could be interesting. I'm not emotionally attached the way we do thing in kernel.

[2022-02-04 02:56] jarkkojs opened #1331 "[Bug]: `ENARX_BACKEND=sgx cargo test` fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

[code]

### Expected Behaviour

Tests succeed.

### Environment Information

[code]

### Steps To Reproduce

_No response_

[2022-02-04 03:00] jarkkojs commented on #1212
This issue is blocked by https://github.com/enarx/enarx/issues/1331

[2022-02-04 03:47] npmccallum commented on #1331
@haraldh Looks like your PR may have broken things. Perhaps only on older hardware?

[2022-02-04 03:47] npmccallum commented on #1331
@jarkkojs Please revert that patch locally and keep pressing forward.

[2022-02-04 06:23] jarkkojs commented on #1331
Just making a note that this form is a bit too "wired" to very limited subset of system bugs. E.g. `git bisect` is not meant for any of the existing sections. "Steps to reproduce" is also a conflicting section with the first section, which makes the form somewhat confusing.

Probably 90% times people will provide all that to current and expected behavior. For that remaining 10% you ask the missing

[2022-02-04 06:24] jarkkojs commented on #1331
Sure just a few more hours of sleep :-) Had my alarm waking up too early.

[2022-02-04 08:46] haraldh commented on #1330
I personally would like to see commits following: https://www.conventionalcommits.org/en/v1.0.0/
A couple of tools exist for this to autogenerate a Changelog or Release Notes (e.g. [clog](https://github.com/clog-tool/clog-cli)).

Of course the [dracut](https://github.com/dracutdevs/dracut/) project uses this and I had good experiences with it.
It uses https://github.com/dracutdevs/commisery-action

[2022-02-04 09:26] haraldh commented on #1331
Even on my small home SGX server:

[code]
$ ENARX_BACKEND=sgx cargo run -- info
    Finished dev [unoptimized + debuginfo] target(s) in 0.05s
     Running `target/debug/enarx info`
Backend: sgx
 ✔ System Info: Linux sgx.fritz.box 5.15.12-200.fc35.x86_64 #1 SMP Wed Dec 29 15:03:38 UTC 2021 x86_64 (none)
 ✔ Driver: /dev/sgx_enclave
 ✔ CPU: Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz | GenuineIntel
 ✔

[2022-02-04 09:27] haraldh commented on #1331
Especially this one:
[code]

[2022-02-04 10:19] jarkkojs commented on #1331
[code]

[2022-02-04 10:22] jarkkojs commented on #1331
[code]

[2022-02-04 10:32] haraldh commented on #1331
Ah, ok...
[code]

@npmccallum you make a decision what's the minimum we support.

[2022-02-04 11:12] jarkkojs commented on #1331
I see corner case hardware similar as having unit tests testing corner cases, assuming that it does not prevent e.g. `AVX512` being able to run same workload with bunch of both optimal and sub-optimal hardware gives certainty that software does not fall apart.

[2022-02-04 14:26] jarkkojs commented on #1212
All tests succeed, if I revert `55caa95c`

[2022-02-04 18:49] npmccallum commented on #1331
@jarkkojs @haraldh Our target platform is Ice Lake.

[2022-02-06 03:25] #1291 closed

[2022-02-06 04:27] moksh-pathak commented on #1330
Hey! can I take up this issue?

[2022-02-07 14:44] #1143 closed

[2022-02-07 14:44] #1226 closed

[2022-02-07 14:47] rvolosatovs commented on #1286
@definitelynobody is this now documented in the wiki?

[2022-02-07 15:39] #1178 closed

[2022-02-07 17:20] bstrie opened #1346 "[Dependency]: upgrade from structopt to clap 3"
As of the clap 3 release, structopt has been effectively upstreamed into clap. From the structopt readme:

Consider removing our dependency on structopt and replacing it with a dependency on clap 3.

clap's migration guide: https://github.com/clap-rs/clap/blob/master/CHANGELOG.md#migrating

[2022-02-07 22:34] divinusdracodominus opened #1347 "[Bug]: Most recent version fails to compile on release and debug for rust versions 1.60.0 and older"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

several dependencies require asm! which is now marked as an unstable feature and as such these dependencies fail to compile

### Expected Behaviour

ideally newer versions of these dependencies should be pulled in t

[2022-02-08 15:15] definitelynobody commented on #1286
Not yet but I'll make another pull request for this @rvolosatovs

[2022-02-09 06:32] #1286 closed

[2022-02-09 11:50] jarkkojs commented on #1330
I'm absolutely fine with this. As long as things get more formalized and get a better information (e.g. for bisection), it's good enough for me. Also, when I clone **any** open source project, the first thing I look up is the commit log. Even before I look into documentation. It's best place to study how things work, when done properly.

[2022-02-09 11:50] jarkkojs commented on #1330
I'm absolutely fine with this. As long as things get more formalized and get a better information (e.g. for bisection), it's good enough for me. Also, when I clone **any** open source project, the first thing I look up is the commit log. Even before I look into documentation. It's best place to study how things work, when done properly.

[2022-02-09 13:27] platten opened #1357 "[Bug]: Cargo Nightly 2022-02-09 breaking CI/release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Cargo build and test fails with latest Rust nightly release (2022-02-09). Pinning to 2022-02-08 seems to resolve the issue.

### Expected Behaviour

Cargo build & test passing.

### Environment Information

[code]

[2022-02-09 13:34] platten opened #1358 "[Feature]: Release Enarx 0.2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Release 0.2 version of Enarx

### Acceptance Criteria
- [x] Release xsave & sallyport before
- [x] Release notes/change log created/updated
- [x] Build passing & documented
- [x] Semver bumped
- [x] GitHub tag/release created
- [x] Pushed to crates.io
- [x] enarx.dev documentation updated/tested
-

[2022-02-09 13:45] rvolosatovs opened #1359 "[Feature]: Unpin nightly version once possible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

As a solution for #1357 , the nightly version used was pinned to 2022-02-08.
Once the issue is fixed in the respective upstream, we should revert this commit https://github.com/enarx/enarx/pull/1356/commits/884bd685b0dbb0fb9da872d5ee0a9f65ee460826

### Acceptance Criteria

_No response_

### Sugge

[2022-02-09 13:48] rvolosatovs commented on #1347
This should be fixed by https://github.com/enarx/enarx/pull/1356
@divinusdracodominus could you confirm?

[2022-02-09 13:56] #1347 closed

[2022-02-09 13:56] #1357 closed

[2022-02-09 16:35] platten opened #1361 "Bump version of xsave to v2.0.2"
Consume released crate, rather than `git` dependency

[2022-02-09 19:26] platten opened #1363 "[Infrastructure]: Automate Rust toolchain updates"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Provide scheduled task to check if latest rust nightly build breaks enarx build. Preferably generate automatic dependabot-like PR if build succeeds / tests pass.

@rvolosatovs's comment on RocketChat:

[2022-02-10 00:09] platten opened #1364 "[Infrastructure]: Update dependencies using `cargo update`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Prior to the release, it would make sense to update the dependencies using `cargo update`

[2022-02-10 08:46] jarkkojs commented on #1331
So I think we can close this as my XPS13 laptop has meets the requirements. Do we have documented somewhere the minimum hardware requirements. Just saying that Enarx requires at minimum SGX2 capable hardware is enough. @haraldh

[2022-02-10 08:48] jarkkojs commented on #1331
Also does Enarx have an explicit check for SGX2, i.e. it should even try to do anything on non-SGX2 hardware?

[2022-02-10 09:10] haraldh commented on #1331
We are not using any SGX2 specific stuff right now, so it would work with SGX1 and FLC currently.... Besides AVX512, which hit you.

[2022-02-10 09:11] #1361 closed

[2022-02-10 09:15] jarkkojs commented on #1331
IMHO, it's good to eventually replace SGX1 code with only SGX2 based solutions and carry an obsolete legacy.

[2022-02-10 09:16] jarkkojs commented on #1331
I.e. there's only one user userbase I'm aware of SGX1+FLC, which is me.

[2022-02-10 15:42] #1364 closed

[2022-02-10 17:07] moksh-pathak commented on #1346
May I take up this issue?

[2022-02-10 17:48] #1268 closed

[2022-02-10 19:08] #1358 closed, assigned to haraldh, platten, bstrie, nickvidal

[2022-02-10 20:47] platten opened #1371 "[Infrastructure]: Document contribution process and conventions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

# Acceptance Criteria
- Documentation available on enarx.dev
- Cover process around:
  - Creating issues
  - Defining dependencies
  - Linking PRs

[2022-02-11 09:55] bstrie commented on #1346
@moksh-pathak You may. I recommend reading the migration guide linked above, as well as the documentation for clap in order to understand what it does and how it works.

[2022-02-11 10:25] bstrie opened #1372 "Compile with stable Rust"
Make enarx and all dependencies compile on a stable release of Rust, using only stable Rust features. This may involve several approaches:

1. Remove the usage of any unstable features that are not necessary for functioning.
2. Pursue upstream stabilization for any unstable features that are necessary.
3. In cases where unstable feature usage is platform-specific, use conditional compilation to li

[2022-02-11 12:04] nickvidal opened #1373 "[Feature]: Use JS to describe which input data & capabilities should be served to a wasm app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In JavaScript it's really easy to tame and delegate capabilities through object wrappers. Instead of giving a pointer to powerful API's (e.g. a network function, File::open, etc). This allows you to follow the principle of least authority (POLA) by creating a wrapper to tame functionality [1]. For

[2022-02-11 14:48] bstrie commented on #1372
For a first step we can focus on getting Enarx onto stable, although we'll eventually need to get all of its dependencies onto stable as well (after a cursory examination I think the only dependency currently making use of unstable features is Sallyport).

Here's a list of all the unstable features currently in use by Enarx. These should all eventually have their own tracking issue once some curso

[2022-02-11 19:59] platten opened #1374 "[Feature]: Add attestation checks to `enarx info`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

As we roll out support for attestation on SEV-SNP & SGX we should provide the user with the ability to check if the host has the features enabled and necessary prerequisites installed and configured.

### Acceptance Criteria

Exact scope TBD

### Suggestions for a technical implementation

_No res

[2022-02-11 20:01] platten opened #1375 "[Feature]: Enarx to report AESMD not configured"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Instead of reporting file not found, `enarx` should provide a useful message when AESMD is not running on machines equipped with SGX-equipped machines.

### Acceptance Criteria

- Error condition captured and appropriate message displayed.
- Tests added

### Suggestions for a technical implementat

[2022-02-14 12:20] jarkkojs opened #1381 "[Feature]: Upstream in-enclave microarchitecture structures to x86_64 crate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. Take `Report`, `ReportPayload` and `TargetInfo`, and move them to a sub-module in x86_64 crate.
2. Send a PR to x86_64 project with the changes.
3. Handle all the reported issues and jump back to 2.
4. Modify `shim-sgx` code to take use the structures in x86_64 crate.

### Acceptance Criteria

[2022-02-14 20:04] rjzak opened #1383 "Documentation: Cargo make"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I understand that `cargo make`  is no longer used, but is referenced in the documentation, in the Contributing Guide: https://enarx.dev/docs/Contributing/Code#enarx-development-environment-set-up

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-02-15 12:50] morbitzer commented on #1315
I tried to run the command again with the new commit from @npmccallum, and now I additionally receive the output `Error: SNP Launcher start failed`:
[code]

Does that help for debugging?

[2022-02-15 12:59] haraldh commented on #1315
@morbitzer that looks like no SEV firmware is loaded.

See: https://github.com/enarx/enarx/issues/1315#issuecomment-1028043390

Also please post `enarx info` with the new version

[2022-02-15 13:05] haraldh commented on #1315
and maybe:
[code]

[2022-02-15 13:08] haraldh commented on #1315
and maybe:
[code]

[2022-02-15 15:17] platten opened #1384 "[Feature]: Provide documentation of SGX attestation flow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

- include flow of all components

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-02-16 13:53] platten commented on #1330
I think adopting the conventional commits convention and putting checks in place to abide by that. I'll sketch together a plan on how to document/implement/enforce this.

@haraldh Thank you for posting the links.

[2022-02-16 14:31] morbitzer commented on #1315
I installed the firmware as described:
[code]
[code]
This seems to work since I get the following output:
[code]

Yes, there is this error:
`[   14.150879] ccp 0000:49:00.1: SEV: failed to INIT error 0x13`.
That seems to be a bug in the BIOS. But I can still boot SEV-SNP VMs with qemu even when this error shows up (not with this kernel though), so I don't think this is an issue. To be 100% sure, I

[2022-02-17 13:44] npmccallum opened #1395 "[Bug]: SNP initialization is too fragile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Enarx tries to bring up an SNP keep but spuriously fails with a "too busy" error. This really painful in CI because it causes the whole test to fail. We should retry a bit with a backoff delay, maybe up to 1-2 secon

[2022-02-17 15:04] jarkkojs commented on #1372
For me this is a **mandatory requirement** to include Enarx of my regular kernel testing flow. Not having this makes it extremely hard to compile Enarx into initramfs bundled with the kernel image, when compiling a minimal rootfs with BuildRoot. I already have in-progress BuildRoot fork waiting for this: https://github.com/jarkkojs/buildroot-enarx.

[2022-02-17 15:14] #1212 closed

[2022-02-17 15:36] jarkkojs commented on #1372
Looking at your "stable rust" issue, could we take the following "soft path" towards it:
1. If a patch is doable with stable rust with reasonable steps, even if slightly less elegant, then that can be used as an argument in a code review.
2. If a patch is non-doable with stable rust, or requires unreasonable amount of work, then we use unstable rust.
This way we converge to the goal but it does no

[2022-02-17 15:41] jarkkojs commented on #1372
Can you provide some short plain English descriptions what these are?

[2022-02-17 17:49] rjzak opened #1398 "[Bug]: Go binaries take 100x time to intialise"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Running a simple Go application compiled to Wasm takes 30 seconds to run in Enarx.

### Expected Behaviour

 The Go Wasm application takes 0.032 seconds to run with Wasmtime.

### Environment Information

[code]

##

[2022-02-17 18:36] jarkkojs opened #1399 "feat[sgx]: Enclave Dynamic Memory Management (EDMM)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Tweak the existing `mmap()` flow in a way that it is possible to allocate new writable data pages to an enclave.

### Acceptance Criteria

Write a test case (TODO: where the test should be implemented?)

### Suggestions for a technical implementation

_No response_

[2022-02-17 18:38] npmccallum commented on #1331
Yes. Correct. Closing.

[2022-02-17 18:38] #1331 closed

[2022-02-17 19:53] platten opened #1400 "[Feature]: Release v0.2.1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Release 0.2.1 version of Enarx

### Acceptance Criteria

- [x] Release notes/change log created/updated
- [x]  Build passing & documented
- [x]  Semver bumped
- [x]  GitHub tag/release created
- [x]  Pushed to crates.io
- [x]  enarx.dev documentation updated/tested
- [x]  Posted update on social m

[2022-02-17 20:30] platten opened #1402 "[Bug]: SGX attestation tests being executed on non-SGX platforms"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

The SGX attestation test is executed when running `cargo test` on a SEV-SNP/Milan system:

[code]

### Expected Behaviour

Test should be skipped on non-SGX machines.

### Environment Information

[code]

### Steps

[2022-02-17 21:04] rjzak commented on #1398
Error on my part, this is an issue of debug vs. release builds. Release is still slower (1.3) but not terrible. Not sure if needing tinygo vs plain Go is an issue.

[2022-02-18 14:53] bstrie opened #1405 "Audit usage of `static mut`"
`static mut` is almost always suspect, as its semantics are far more subtle than most people realize. In a single-threaded process it's fine, but as soon as multithreading is involved `static mut` is essentially guaranteed to be unsound. Currently AIUI all of the relevant codebases are single-threaded so it's not a risk for now, but if we intend to make e.g. the shim multithreaded then we'll need

[2022-02-18 15:15] platten commented on #1398
If you could get a bit more information about this, that would be great.

[2022-02-18 15:22] platten commented on #1405
@bstrie to create entry into the styleguide to be allowed in shims and discussed situations.

[2022-02-18 15:29] bstrie opened #1406 "Remove usage of unstable `generic_const_exprs` and `const_mut_refs` Rust features"
Both of these features are only used in a single place, for the Heap and Block types used in shim-sgx: https://github.com/enarx/enarx/blob/main/internal/shim-sgx/src/heap.rs . I'm told that this entire file will be drastically rewritten in order to add support for SGX2, so this issue exists to make sure that the rewrite doesn't make use of those features.

[2022-02-18 16:25] haraldh commented on #1315
yeah, I cannot do anything about
[code]

[2022-02-18 17:41] #1208 closed

[2022-02-18 18:50] platten opened #1407 "Log / Debug"

[2022-02-18 18:54] #1205 closed

[2022-02-18 18:55] platten opened #1408 "Gate GDB on debug"
add check, that no dbg or gdb feature is only available in non --release

[2022-02-18 18:56] platten opened #1409 "Sallyport log messages (debug only)"

[2022-02-18 18:57] #1409 closed

[2022-02-18 18:58] platten opened #1734 "Gate GDB on debug"

[2022-02-18 18:58] platten opened #1735 "Sallyport log messages (debug only)"

[2022-02-18 19:00] platten opened #1410 "SGX w/ EDDM Support"

[2022-02-19 04:09] #1402 closed

[2022-02-19 12:47] stephssmiths commented on #1375
Hey I would like to grab this issue.

The changes would be here:

https://github.com/enarx/enarx/blob/c1cdcd5ee038d42ac1fe7ecd4fab279c4513fa07/src/backend/sgx/attestation.rs#L55

Would you also like for it to display whether AESMD is running in `enarx info`?

Thanks.

[2022-02-19 13:03] npmccallum commented on #1372
@jarkkojs  can you use `RUSTC_BOOTSTRAP` for your kernel flow?

[2022-02-20 13:15] jarkkojs commented on #1372
What is it?

[2022-02-20 13:22] jarkkojs commented on #1399
For reference when browsing the Intel SDM:

[code]

@rchatre: This is my WiP issue for making initial SGX2 support Enarx.

[2022-02-21 04:17] jarkkojs opened #1411 "feat[sgx]: `SGX_IOC_ENCLAVE_RELAX_PERMISSIONS`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Add wrapper for `SGX_IOC_ENCLAVE_RELAX_PERMISSIONS`.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-02-21 04:30] jarkkojs commented on #1410
Duplicate to #1399.

[2022-02-21 04:30] #1410 closed

[2022-02-21 12:03] #920 closed

[2022-02-21 12:04] platten commented on #1400
@nickvidal Any chance you could please post an update on Twitter that the v0.2.1 patch release is out?

[2022-02-21 12:31] jarkkojs commented on #1372
I fully understand this. Not having that causes some awkwardness in the current codebase.

[2022-02-21 13:11] platten opened #1421 "[Infrastructure]: Enable Conventional Commit Message Checker"
### Task List:
- [ ] [enarx/.github](https://github.com/enarx/.github/pull/15)
- [ ] [enarx/enarx](https://github.com/enarx/enarx/pull/1423)
- [ ] [enarx/enarx.github.io](https://github.com/enarx/enarx.github.io/pull/84)
- [ ] [enarx/sallyport](https://github.com/enarx/sallyport/pull/93)
- [ ] [enax/xsave](https://github.com/enarx/xsave/pull/11)
- [ ] [enarx/client](https://github.com/enarx/client

[2022-02-21 13:51] platten opened #1424 "[Infrastructure]: Linting: Check for newline at end of file."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Ensure that files end with a newline character.

[2022-02-21 14:18] nickvidal commented on #1280
I think @jnyfah's Fibonacci video demo is a good walk-through to get started with Enarx. I'll speak with her so that we can add the video and some explanatory text to our documentation.

[2022-02-21 14:20] platten opened #1425 "[Infrastructure]: Enable auto-merge PRs if approved and tests pass."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Per @npmccallum's request, automatically merge PRs if approved and tests pass.

[2022-02-21 15:11] platten opened #1426 "SGX EDMM Support"

[2022-02-21 15:18] bstrie commented on #1372
RUSTC_BOOTSTRAP is a secret implementation detail of the Rust compiler that allows nightly Rust to pretend to be stable Rust, which is used for the purpose of bootstrapping the standard library during the release process. It is not to be used by anyone other than the Rust compiler in any production capacity; if I were a code auditor I would reject any codebase that used it.

[2022-02-21 15:19] #1400 closed

[2022-02-21 15:36] platten opened #1427 "[Feature]: QPL Patch"
# Description:
We would like to remove the requirement for the PCCS API Key and to modify the python script to fetch the cached key and read it from disk.

[2022-02-21 15:40] platten opened #1428 "Allocator"

[2022-02-21 15:41] platten opened #1429 "Page Tracking"

[2022-02-21 18:41] jnyfah commented on #1280
Okay, @nickvidal that would be great!

[2022-02-21 19:54] nickvidal commented on #1228
My apologies for the delay.

I found two ways to make the necessary changes against all repos: using [multi-gitter](https://github.com/lindell/multi-gitter) or [Octopilot](https://github.com/dailymotion-oss/octopilot). I chose Octopilot because it's more powerful and we could use it in the future.

We would need to run the following command to clone all repos, delete enarxbot.yml, commit the chang

[2022-02-22 07:54] jarkkojs opened #1432 "[Bug]: Linux: swap space not freed on ELDU"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Regular memory is not freed when pages are loaded with `ENCLS[ELDU]`.

### Expected Behaviour

-

### Environment Information

-

### Steps To Reproduce

-

[2022-02-22 07:57] jarkkojs opened #1433 "feat(sgx): edmm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

-

### Acceptance Criteria

-

### Suggestions for a technical implementation

-

[2022-02-22 07:57] jarkkojs commented on #1433
#1432 blocks getting this work done.

[2022-02-22 08:15] jarkkojs commented on #1426
`s/EDDM/EDMM/`. It's an acronym of Enclave Dynamic Memory Management.

[2022-02-22 08:29] jarkkojs commented on #1427
@npmccallum I guess this is blocking until we know that a patch would be accepted, right?

[2022-02-22 08:42] jarkkojs commented on #1322
Got it but in more general sense it is already dictated by the calling convention that it needs to be saved by caller (you're right what you're saying about the stack pointer tho). It's one of the callee saved register (for completeness, I presume you obviously know this).

This was not intuitive because in GCC inline assembly all registered are assumed by preserved, so I would add just:

[code]

[2022-02-22 08:51] jarkkojs commented on #1429
What does page tracking mean?

[2022-02-22 08:58] jarkkojs commented on #1428
What is "allocator"? @npmccallum @haraldh

[2022-02-22 08:59] #1217 closed

[2022-02-22 09:00] jarkkojs commented on #1217
EMODPR cannot be directly accessed as it is ring-0 opcode. It's done by `SGX_IOC_ENCLAVE_RESTRICT_PERMISSIONS`.

[2022-02-22 09:36] haraldh commented on #1428
@jarkkojs https://doc.rust-lang.org/std/alloc/trait.GlobalAlloc.html

[2022-02-22 13:03] haraldh commented on #1429
I guess, internal bookkeeping like `/proc/self/maps`

[2022-02-22 13:38] platten opened #1439 "[Infrastructure]: Automatically approve dependabot PR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

In order to fully automate dependabot auto-merging auto-approval is required. Tests will still be required to pass prior to merging.

[2022-02-22 15:03] platten commented on #1433
RE: https://lore.kernel.org/linux-sgx/cover.1644274683.git.reinette.chatre@intel.com/T/#t

[2022-02-22 15:12] #1322 closed

[2022-02-22 15:16] platten commented on #1315
Due to the fact that this is a firmware issue that is outside of the scope of enarx, there is not much that can be done about this from our side.

[2022-02-22 15:37] Deepansharora27 commented on #1245
Would like to have a look and work on this

[2022-02-22 15:41] platten opened #1444 "Intel to remove API key for AESMD"

[2022-02-22 15:54] platten opened #1445 "[Infrastructure]: Migrate to Cargo binary dependencies"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Migrate build system to use the new cargo binary artifacts facility.

[2022-02-22 16:01] jarkkojs commented on #1428
thanks!

[2022-02-22 17:08] platten opened #1448 "[Infrastructure]: Provide CycloneDX BOM manifest for Enarx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Update CI to generate CycloneDX SBOM artifacts and check into repository. These artifacts should be kept in sync with dependencies stored in Cargo.lock files.

SBOM.<xml|json> files can be generated using: https://crates.

[2022-02-22 17:15] platten opened #1449 "[Feature]: Display subcrate version information"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Following a discussion with @haraldh on 22-02-2022: For debugging purposes, it would be useful to see which versions (w/ preferably git hashes) of the subcrates were used for a particular enarx build and displays that information when running `enarx --version`.

### Acceptance Criteria

- [ ] Stor

[2022-02-22 17:28] platten opened #1450 "[Feature]: Embed and have the ability to display SBOM information in enarx binary."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It would be useful to embed the SBOM information during the build process and provide the user with a way to display that information using either:
- `enarx --sbom [--format=<xml | json>`
- `enarx --versions --all [--format=<xml | json>`

### Acceptance Criteria

- [ ] Generate SBOM information pr

[2022-02-23 01:44] platten commented on #1227
Planning on revising PR following updated release process utilizing cargo binary artifacts.

[2022-02-23 15:28] bstrie commented on #1303
PR for fuzzing pkcs10 is up at https://github.com/RustCrypto/formats/pull/446 . However, we will need to actually fix any panics found via fuzzing before the PR can land. I'll be working on that next.

[2022-02-23 20:05] #1411 closed

[2022-02-23 21:30] rvolosatovs opened #1457 "[Bug]: SGX `get_attestation` should return the quote size when buffer length is 0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

SGX `get_attestation` only returns the quote size when `NULL` hash is passed
https://github.com/enarx/enarx/blob/500c0b8feaa267b559227694c469d2b1e3b12388/internal/shim-sgx/src/handler/enarx.rs#L27-L30

### Expected

[2022-02-23 22:41] stephssmiths commented on #1449
If nobody has taken this issue yet - I would love to try implement it.

[2022-02-24 12:59] jarkkojs commented on #1457
So we could cache the quote

[2022-02-24 14:42] platten opened #1458 "[Infrastructure]: auto-merge does not work for non-org PRs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

The current auto-merge enable `pr.yaml` does not work with PRs, as it does not properly set the auto-merge state for PRs which are created by users which do not have write access to the repository.

[2022-02-25 08:45] rwwwwww21 opened #1459 "[Infrastructure]: Failed to create SGX enclave and caused by Input/output error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Hi ~
I ran the helloworld.wasm in my enarx and got the error:
[code]

My machine is pc and only support SGX1 without FLC, so I applied the [patch](https://github.com/haosanzi/inclavare-containers/commit/f6a272443d93971784

[2022-02-25 16:06] bstrie opened #1461 "Port shim-sgx to x86_64-unknown-none"
Currently the shim compiles for the x86_64-unknown-linux-musl target. Port it to the new x86_64-unknown-none target: https://doc.rust-lang.org/nightly/rustc/platform-support/x86_64-unknown-none.html

[2022-02-25 16:07] bstrie opened #1462 "Port shim-sev to x86_64-unknown-none"
Currently the shim compiles for the x86_64-unknown-linux-musl target. Port it to the new x86_64-unknown-none target: https://doc.rust-lang.org/nightly/rustc/platform-support/x86_64-unknown-none.html

[2022-02-25 16:09] bstrie opened #1463 "Rename shim-sev to shim-kvm"

[2022-02-25 21:09] platten commented on #1183
@npmccallum Pending acceptance of work and closeout.

[2022-02-25 21:09] platten commented on #1191
@npmccallum Pending acceptance of work and closeout.

[2022-02-27 04:04] moksh-pathak commented on #1463
I would like to take this one up.

[2022-02-28 15:16] stephssmiths commented on #1449
Current commit https://github.com/stephssmiths/enarx-fork-debug/commit/97505d0c611a9b30b3582f07353b564ea830bbd1

[2022-02-28 15:40] #1439 closed

[2022-02-28 20:08] bstrie commented on #1449
@stephssmiths It looks like there is a project out there that seeks to achieve a similar result: https://github.com/Shnatsel/rust-audit . Care to take a look at it and see how it differs from what you've got so far?

[2022-02-28 20:08] bstrie commented on #1449
There's also a proposal here for Cargo to have first-class support for this: https://github.com/rust-lang/rfcs/pull/2801

[2022-02-28 20:50] platten opened #1465 "[Infrastructure]: Automate rust-toolchain update chore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Provide scripts for updating rust toolchain to be used for future automation.

[2022-03-01 13:06] jarkkojs commented on #1432
https://lore.kernel.org/linux-sgx/20220301125836.3430-1-jarkko@kernel.org/T/#u

[2022-03-01 13:29] jarkkojs commented on #1433
For 16/32 a comment about RX pages: https://lore.kernel.org/linux-sgx/Yh4fGORDaJyVrJQW@iki.fi/

[2022-03-01 13:44] juhanurmi opened #1468 "[Bug]: Error: InternalError when running hello world"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

$ enarx run target/wasm32-wasi/release/hello-world.wasm
Error: InternalError

### Expected Behaviour

Runs the default hello world app as the Enarx installation is in place.

### Environment Information

rustc 1.58.

[2022-03-01 15:08] bstrie commented on #1303
This is complete.

[2022-03-01 15:08] #1303 closed

[2022-03-01 15:23] juhanurmi commented on #1468
Thanks for asking @haraldh - here are kvm and non-kvm outputs:

**~/hello-world$ strace -f  enarx --verbose run --backend=kvm target/wasm32-wasi/release/hello-world.wasm**
execve("/home/juha/.cargo/bin/enarx", ["enarx", "--verbose", "run", "--backend=kvm", "target/wasm32-wasi/release/hello"...], 0x7ffc520adb58 /* 33 vars */) = 0
brk(NULL)                               = 0x55fb30e3b000
arch_prctl(0

[2022-03-01 15:34] bstrie commented on #1372
Regarding `-Z bindeps`, one of our prerequisites for using artifact dependencies is to port the shims to `x86_64-unknown-none` (#1461, #1462), and that target itself is essentially unstable as it currently requires users to use the unstable `-Z build-std` Cargo flag. Thus compiling with stable Rust will require elevating that target to Tier 2 ( https://doc.rust-lang.org/nightly/rustc/platform-supp

[2022-03-01 15:43] haraldh commented on #1468
Please install enarx with debugging enabled:
[code]

and then run:
[code]

It automatically falls back to `kvm`, if neither `SEV-SNP` nor `SGX` is available.

Also please provide some info what `hello-world.wasm` contains.

[2022-03-01 16:01] juhanurmi commented on #1468
Reinstalling is trying to use Enarx 0.2.1 instead of 0.2.0 and build fails:

$ cargo install --features dbg enarx
    Updating crates.io index
  Downloaded enarx v0.2.1
  Downloaded 1 crate (166.1 KB) in 0.48s
  Installing enarx v0.2.1
...
   Compiling const-default-derive v0.2.0
   Compiling const-default v1.0.0
   Compiling xsave v2.0.2
    Finished release [optimized + debuginfo] target(s) in 1

[2022-03-01 16:04] haraldh commented on #1468
Oh, sorry... of course the full instructions are:

[code]

[2022-03-01 16:16] juhanurmi commented on #1468
Thanks! Now with Enarx 0.2.1, running basic hello world app:

~/hello-world$ enarx run target/wasm32-wasi/release/hello-world.wasm
Error: InternalError

~/hello-world$ cat src/main.rs
fn main() { println!("Hello, Enarx!"); }

Backend: kvm
 ✔ System Info: Linux riihikatu 5.4.0-94-generic #106-Ubuntu SMP Thu Jan 6 23:58:14 UTC 2022 x86_64 (none)
 ✔ Driver: /dev/kvm
 ✔  API Version: 12
 ✔ CPU:

[2022-03-01 16:45] haraldh commented on #1468
hmmm, strange the debug output from `--features dbg` is missing.

[2022-03-02 02:55] rwwwwww21 commented on #1459
I got a pc with flc support and install the dcap driver `sgx_enclave`, when run the helloworld.wasm got the same error.
The two pc is sgx1.

[2022-03-02 11:08] rwwwwww21 commented on #1459
I changed enarx to previous version(maybe v0.1.2), I tried compiling directly but got the error so I used my own docker built before. I tried enarx and successfully~

I'm confused that whether the enarx now is supported only for sgx2?
@haraldh @npmccallum  Thank you very much!

[2022-03-02 14:28] haraldh commented on #1468
Because, if I do it, I get the following output:
[code]

[2022-03-03 05:17] juhanurmi commented on #1468
I retested this again install with --force and run with -vvv:

$ cargo +nightly-2022-02-08 install --force --features dbg --bin enarx -- enarx
[...]
   Replacing /home/juha/.cargo/bin/enarx
    Replaced package `enarx v0.2.1` with `enarx v0.2.1` (executable `enarx`)

$ enarx -vvv run target/wasm32-wasi/release/hello-world.wasm
[2022-03-03T05:15:25Z INFO  enarx] logging initialized!
[2022-03-03T05:

[2022-03-03 07:19] Deepansharora27 commented on #1031
@haraldh Is Creating a new repository a pre-requisite before I start to make the modules for the `testaso` crate ?

[2022-03-03 07:41] haraldh commented on #1031
@Deepansharora27 you can create a new repo in your own account space. When it is ready, we will import it from there.

[2022-03-03 07:44] Deepansharora27 commented on #1031
Got it !!
Thanks @haraldh 😊

[2022-03-03 08:19] haraldh commented on #1468
Ah, now I get it... the `cargo install` installs the release version... therefor I don't get the code for `#[cfg(debug_assertions)]`.

[2022-03-03 14:32] bstrie commented on #1462
One difficulty here is that this shims are using the libc crate, which provides access to platform-specific APIs (e.g. values for constants like `EINVAL`), as well as type aliases for the C types that these APIs work with (e.g. `c_int`). These items are conditionally-compiled such that they only exist under certain conditions, e.g. `EINVAL` only exists on Linux-like systems whereas `c_int` is only

[2022-03-03 14:34] bstrie commented on #1372
We may also begin relying on a new feature, `core_ffi_c`. See the rationale at https://github.com/enarx/enarx/issues/1462#issuecomment-1058101996 .

[2022-03-03 15:09] #1405 closed

[2022-03-04 12:29] haraldh opened #1476 "[Feature]: Implement proper TLS for the SGX shim"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the sallyport v0.3 PR https://github.com/enarx/enarx/pull/1460 the thread local storage of SGX was only loosely implemented with a `static mut`.

### Acceptance Criteria

- no `static mut`

### Suggestions for a technical implementation

Threads in SGX should have a thread ID and and an interna

[2022-03-04 13:11] nickvidal opened #1477 "Enarx 0.3.0 Launch Materials"
### Is there an existing issue for this?

- [ ] I have searched the existing issues

### Description

For the upcoming Enarx 0.3.0 release, we want to publish some launch materials, including:

- [x] Enarx documentation update
  - [x] WebAssembly Guide
  - [x] Networking Guide (initial)
- [x] GitHub release notes
- [x] Enarx blog post
- [x] Social media updates (Twitter, LinkedIn)

Are we ready fo

[2022-03-04 14:23] platten commented on #1477
@nickvidal @MikeCamel we should sync on the scope of the launch materials.

[2022-03-04 14:27] platten opened #1478 "[Feature]: Release 0.3 version of Enarx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Release 0.3 version of Enarx

### Acceptance Criteria

- [x] Release xsave & sallyport before
- [x] Release notes/change log created/updated
- [x] Build passing & documented
- [x] Semver bumped
- [x] GitHub tag/release created
- [x] Pushed to crates.io
- [x] enarx.dev documentation updated/tested

[2022-03-04 15:25] platten opened #1479 "feat(sgx): mprotect()"
The page permission change is two-folded:

- ENCLS[EMODPR] restricts permissions from the outside of the enclave. Enclave cannot do it from from inside because restricting rights requires to have no alive TLB entries. This all is taken care of `SGX_IOC_ENCLAVE_RESTRICT_PERMISSIONS`. Enclave acknowledges pages with ENCLU[EACCEPT] before they can be accessed normally again.
- ENCLU[EMODPE] extends p

[2022-03-04 15:26] MikeCamel commented on #1477
Is this not 0.4.0?

[2022-03-04 15:27] MikeCamel commented on #1477
We also need an architectural diagram + process diagram, showing the various pieces and how they interact.

[2022-03-04 15:42] platten commented on #1477
Our last release was 0.2.1...

On Fri, Mar 4, 2022 at 10:26 AM Mike Bursell ***@***.***>
wrote:

[2022-03-04 15:42] nickvidal commented on #1477
It's time to overhaul our documentation and other materials. I want to incorporate some of the work that has been developed by the Enarx interns/community. I do think we can have a Wasm guide ready for 0.3.0, and we can start documenting Steward/Drawbridge as we approach 0.4.0. Networking + TLS is also something that needs attention, along with attestation. The architectural + process diagrams wil

[2022-03-06 11:08] Deepansharora27 commented on #1477
Is this something related to the Attestation Guide ?

[2022-03-06 16:16] rvolosatovs opened #1480 "[Feature]: `tcp_listen` socket should be upgraded to TLS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently `listen_tcp` sockets just start a normal TCP connection. Once established, this connection should be upgraded to TLS. Sockets should have configurable CA, server cert and key.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

For implementation, `ru

[2022-03-07 09:17] MikeCamel commented on #1477
We need Steward documentation for 0.3.0, as it's part of the release.  Same for networking.

I really think that a diagram would got a long way towards this (and it's something I can contribute to).

[2022-03-07 10:14] Deepansharora27 commented on #1477
If I ask specifically about Networking Guide, what do you expect to incorporate as a part of the Diagrams?

[2022-03-07 17:01] platten opened #1483 "[Infrastructure]: Disable `nix` test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Per discussion at the Enarx standup on 2022-02-07 we should disable the nix test workflow.

[2022-03-07 17:08] rvolosatovs commented on #1483
Refs https://github.com/enarx/enarx/pull/1455#issuecomment-1059737637

[2022-03-07 18:25] #1483 closed

[2022-03-07 19:01] platten opened #1486 "[Infrastructure]: Update enarx dependencies weekly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Provide automation for the weekly update of `cargo` crate dependencies, test and create PR on successful test pass.

[2022-03-08 15:30] jarkkojs commented on #1459
Enarx is only supported for SGX2 but the error message should be clear on that.

[2022-03-08 21:54] jarkkojs opened #1494 "feat(sgx): EACCEPT{COPY}"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

ENCLS[EAUG] and ENCLS[EMODPR] must be complemented with ENCLU[EACCEPT] from the enclave side.

### Acceptance Criteria

-

### Suggestions for a technical implementation

-

[2022-03-09 01:37] jarkkojs opened #1496 "feat(sgx): mmap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Shim mmap() handler:
1. Ask host for mmap() syscall.
2. Construct secinfo matching the protection bits.
3. For each page in the address range: secinfo.accept_copy() with a zero page.

Shim mprotect() handler:
1. Ask host for mprotect() syscall.
2. For each page in the address range: secinfo.accept

[2022-03-09 09:02] jarkkojs opened #1498 "feat(shim-sgx): zero page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The shim-sgx needs a zero page and ways to point out to that from Rust code. This can then be used together with **ENCLU[EACCEPTCOPY]**, which we prefer because it can instantly lock in the correct permissions for augmented pages.

### Acceptance Criteria

_No response_

### Suggestions for a tech

[2022-03-09 09:03] jarkkojs commented on #1498
@haraldh I can go on to do this but I need a bit guidance is it e.g. OK just to mangle the linker script of shim-sgx. What do I need to take into account? That's why I assigned this to you first.

[2022-03-09 09:41] jarkkojs commented on #1479
@npmccallum a blocker: ioctl's are inside the backend. What actions should I take:

Options:
- Move ioctls's to SGX crate.
- Make a fixed blob for EMODPR with PROT_NONE.

I'd actually tend to be aligned to second options. I.e. we can remove the ioctls that I introduced to the back end and use sallyport to do ioctl with the range and PROT_NONE instead.

After that the final step is EACCEPT + EMODPE

[2022-03-09 15:03] #1498 closed

[2022-03-09 16:55] #1062 closed

[2022-03-09 16:55] #1457 closed

[2022-03-10 09:07] jarkkojs opened #1501 "feat(sgx): Reset enclave memory permissions in the backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

mprotect() flow:
1. Backend resets the permissions to PROT_NONE.
2. Shim sets the permissions with EACCEPT + EMODPR.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-10 11:02] jarkkojs opened #1506 "feat(sgx): mprotect"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

-

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-10 11:29] #1501 closed

[2022-03-10 12:50] platten opened #1508 "[Infrastructure]: Restore connectivity to Milan"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Restore connectivity to SEV-SNP/Milan CI testing / development environment.

[2022-03-10 13:50] haraldh opened #1511 "[Feature]: add gethostby* resolver functions in wasmldr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

DNS in wasmldr is not working, because musl libc `gethostbyname2_r` can't open `/etc/resolv.conf`.

### Acceptance Criteria

Working DNS in wasmldr.

### Suggestions for a technical implementation

Implement `gethostbyname2_r` and route it via a sallyport call to the host, or implement it fully wi

[2022-03-11 11:32] #1468 closed

[2022-03-11 12:45] bstrie opened #1517 "Use once_cell::sync::Lazy in preparation for stdlib inclusion"
Currently the stdlib is in the process of acquiring a standard type for lazy initialization, by upstreaming the types in the once_cell crate. Port our current lazy initialization (via `spinning::Lazy`) to `once_cell::::sync::Lazy`. Once this is done it should be trivial to port it to the stdlib version once stabilized (and I suspect we can even push it over the line into stabilization relatively q

[2022-03-11 13:30] jarkkojs opened #1519 "feat(sgx): SecInfoOps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Add SecInfoOps trait that provides EACCEPT, EACCEPTCOPY and EMODPE operations for enclave's use.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-11 15:49] jarkkojs opened #1524 "Improve SGX contributor experience with ability to skip attestation tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

On laptop you don't want to always keep daemons running, so there should be a way to run cargo test without attestation.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-11 15:53] bstrie commented on #1524
There exists an `#[ignore]` attribute that can be used on tests which will tell the test runner to ignore them unless specifically requested: https://doc.rust-lang.org/book/ch11-02-running-tests.html#ignoring-some-tests-unless-specifically-requested . We would need to make sure that CI is using `cargo test -- --include-ignored` to get any ignored tests (assuming that CI is testing attestation).

[2022-03-11 16:06] jarkkojs commented on #1524
@pl

Can you exit test by telling to the cargo test that this test is actually ignored. It could be based existence of aesmd.socket.

[2022-03-11 16:16] #1463 closed

[2022-03-11 16:50] abhinandanudupa commented on #1448
Can you assign me this issue?

[2022-03-11 17:11] bstrie commented on #1524
If you want to exit any test marked with `#[test]` based on information that is available at runtime, then you can just check inside the test and return early to skip the rest of the test. It won't show up as ignored in the cargo output, however.

[2022-03-11 17:35] jarkkojs commented on #1524
I think I found a working solution.

[2022-03-11 17:42] haraldh commented on #1449
yeah, I read that article about rust flaws, too, but forgot to mention it.

[2022-03-11 17:44] bstrie opened #1528 "Pursue promoting x86_64-unknown-none to a Tier 2 Rust platform"
We intend to begin compiling the shims for the x86_64-unknown-none target (https://github.com/enarx/enarx/issues/1461, https://github.com/enarx/enarx/issues/1462). However, this target is currently only a Tier 3 Rust platform (https://doc.rust-lang.org/nightly/rustc/platform-support.html), which means that the Rust project does not provide any artifacts, which means that we cannot use rustup to in

[2022-03-12 12:57] #1519 closed

[2022-03-12 17:08] jarkkojs opened #1529 "Compilation breaks with the latest x86_64 crate mainline"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

[code]

### Expected Behaviour

No compilation issues.

### Environment Information

-

### Steps To Reproduce

-

[2022-03-12 17:26] jarkkojs commented on #1529
This change to shim-sgx will trigger the bug:
[code]

[2022-03-13 07:08] #1524 closed

[2022-03-13 14:12] jarkkojs commented on #1432
Has been picked to tip master: https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?id=ed83935a9af088439462ef3f2efcf1ef62b05dfd

This means that will be part of Linux v5.18.

[2022-03-13 14:12] #1432 closed

[2022-03-13 14:16] jarkkojs commented on #1214
https://gitlab.com/enarx/sgx/-/merge_requests/6

[2022-03-13 14:17] jarkkojs commented on #1216
https://gitlab.com/enarx/sgx/-/merge_requests/6 @npmccallum

[2022-03-13 14:18] #1433 closed

[2022-03-13 14:18] #1494 closed

[2022-03-13 14:20] jarkkojs opened #1531 "feat(sgx): munmap()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In the heap:

1. `TrimSgxPages` enarxcall.
2. EACCEPT address region.
3. `RemoveSgxPages` enarxcall.
4. `self.ledger->unmap(region)`

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-13 14:22] #1399 closed

[2022-03-13 14:23] jarkkojs commented on #1426
#1496, #1506, #1531 fully breakdown this issue.

[2022-03-13 14:29] jarkkojs commented on #1381
PR in good progress: https://github.com/rust-osdev/x86_64/pull/348

[2022-03-13 18:03] haraldh commented on #1428
why did you close this??!!

[2022-03-13 18:08] haraldh commented on #1429
why did you close this??!!

[2022-03-13 19:08] jarkkojs commented on #1428
I thought that allocation is done with mmap() et al. I don't see what this task would cover that other tasks do not.

[2022-03-13 19:10] jarkkojs commented on #1428
I.e. tasks: #1496, #1506 and #1531.

[2022-03-13 19:12] jarkkojs commented on #1429
What does this cover that https://github.com/enarx/enarx/issues/1496, https://github.com/enarx/enarx/issues/1506 and https://github.com/enarx/enarx/issues/1531 do not?

[2022-03-13 20:28] jarkkojs commented on #1429
So is this about implementing EACCEPT, EACCEPTCOPY and EMODPE, which acknowledge EAUG, EMODPR and EMODT? I don't understand this issue.

[2022-03-13 20:29] jarkkojs commented on #1429
And internal bookkeeping for what exact purpose?

[2022-03-13 21:23] jarkkojs commented on #1429
I think this covered by https://github.com/enarx/enarx/issues/1381.

[2022-03-13 21:24] jarkkojs commented on #1429
https://github.com/rust-osdev/x86_64/pull/348

[2022-03-14 08:58] rvolosatovs commented on #1465
Duplicate of https://github.com/enarx/enarx/issues/1363?

[2022-03-14 09:00] #1529 closed

[2022-03-14 12:48] haraldh opened #1534 "[Bug]: SGX quote size is hard coded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

SGX code assumes `SGX_QUOTE_SIZE` is constant. It is not.

In sallyport we have:
[code]

Doing a `get_quote_size()` on  icelake returns: 4728!!

[code]

### Expected Behaviour

* add a `get_quote_size()` sallyport e

[2022-03-14 12:56] haraldh commented on #1534
Or extend sallyport `get_sgx_target_info` to return the quote size also.

[2022-03-14 13:41] jarkkojs commented on #1429
`brk()` requires tracking so I guess this could be called `feat(sgx): brk()`? It requires to track address ranges of RW VMA's. @haraldh What do you think?

[2022-03-14 15:27] haraldh commented on #1429
The sallyport validation functions need to know about the memory mapping and what belongs to the shim's "userspace".

[2022-03-14 15:28] haraldh commented on #1429
this is not just SGX but also KVM and SEV

[2022-03-14 15:35] jarkkojs commented on #1429
Where are the validation functions?

[2022-03-14 15:37] jarkkojs commented on #1428
OK the issues were quite unclear what the heck they are so I did a big misinterpretation. Sorry about that.

[2022-03-14 16:06] haraldh commented on #1429
- https://github.com/enarx/enarx/blob/d15dcd656343331f1ae05f6e4f96132cd9788463/internal/shim-kvm/src/hostcall.rs#L514
- https://github.com/enarx/enarx/blob/d15dcd656343331f1ae05f6e4f96132cd9788463/internal/shim-sgx/src/handler/usermem.rs#L11

[2022-03-14 16:33] #1534 closed

[2022-03-14 16:51] jarkkojs commented on #1429
I'm doing now a partition table for shim-sgx. With it I'll create the following policy:

* `mmap()` can be only done to empty address space.
* `mprotect()` can be only done to non-empty address space and cannot across two VMAs.

In corresponding guest handlers I `-EINVAL` parameters that do not adhere. Please note that the policy can be relaxed later but I think this is the best starting point bec

[2022-03-14 18:09] bstrie commented on #1528
The process for promoting a target to Tier 2 is here: https://doc.rust-lang.org/nightly/rustc/target-tier-policy.html#tier-2-target-policy

This will involve filing a Major Change Proposal with the compiler team, as documented at https://forge.rust-lang.org/compiler/mcp.html

An example of a prior MCP for adding a new Tier 2 target can be seen at https://github.com/rust-lang/compiler-team/issues/4

[2022-03-15 05:03] jarkkojs commented on #1429
I'm working on a ledger for mm: https://github.com/jarkkojs/mmledger/blob/main/src/mmledger/mod.rs

[2022-03-15 06:01] jarkkojs opened #1538 "feat(sgx): shim-sgx memory dump with a debug enclave"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Allow shim-sgx to be compiled as a debug enclave and when exiting dump the memory with `ptrace()`.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-15 06:03] jarkkojs opened #1539 "feat(sgx): monitor mm changes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Use an enarxcall to provide mm change monitoring, which is essentially a memory dump of the mm ledger state.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-15 12:22] rvolosatovs opened #1545 "[Bug]: SNP launcher start ioctl firmware bug"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Occasional test failure on unrelated PRs:
[code]

### Expected Behaviour

Pass

### Environment Information

enarx sev nightly debug CI job

### Steps To Reproduce

_No response_

[2022-03-15 12:58] npmccallum opened #1546 "[Feature]: Upstream wasmldr::loader::compiled::null::Null"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

This type should get upstreamed to wasmtime.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-15 12:59] haraldh commented on #1545
Last time, this was one of the last messages which came from Milan

[2022-03-15 13:05] npmccallum opened #1547 "[Feature]: Use the acquired cert as a client certificate"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In 0.3.0, we enabled TLS networking. However, we don't currently do client auth at all. We can easily add client auth to all client connections. However, we aren't sure exactly how servers will respond to that. We might have to manually enable/disable it in the config.

If we can be sure that serv

[2022-03-15 13:07] npmccallum opened #1548 "[Feature]: Make TLS cryptography policy configurable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently, we hard code our TLS cryptographic policy. This should be configurable.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-15 14:12] #1480 closed

[2022-03-15 14:44] rvolosatovs opened #1549 "[Bug]: `tcp_server` example crashes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

With #1500 applied:

[code]

And client gets an `EOF` when trying to establish a connection

### Expected Behaviour

Perhaps an error about invalid certificate or an established connection otherwise

### Environment

[2022-03-16 14:20] #1193 closed

[2022-03-16 14:21] #1477 closed

[2022-03-17 00:27] srcman commented on #1459
Got this same error with Enarx v0.2.1 on a host with SGX2 but without AVX:

[code]

At least in our case [these lines](https://github.com/enarx/enarx/blob/v0.2.1/internal/shim-sgx/src/lib.rs#L38-L41) seemed to cause the error, and removing them fixed the problem.

[2022-03-17 12:21] jarkkojs opened #1558 "[Bug]: shim-sgx: arch_prctl() does nothing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Looking at `arch_prctl()` handler:

[code]

SSA gets overwritten on AEX and the values come from those in TCS. FS can be only changed with WRFSBASE. For GS we should never do nothing special since it is irrelevant f

[2022-03-17 16:49] jarkkojs opened #1560 "[Feature]: Move shim_base_offset() to lib.rs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Enclave start address is needed also by dynamic memory management. Move the function to `lib.rs`.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-18 13:55] bstrie opened #1563 "Survey our complete list of dependencies"
In the long term we will want to reduce our trusted computing base (TCB) as much as possible. One of the ways in which our TCB is currently larger than it needs to be is due to the use of a large number of third-party Rust dependencies. This doesn't necessarily mean that we need to remove all of our third-party dependencies; rather, we want to reduce our usage of dependencies to only those that ar

[2022-03-18 14:07] bstrie commented on #1563
Somewhat related issues:

* https://github.com/enarx/enarx/issues/1449
* https://github.com/enarx/enarx/issues/1450

[2022-03-19 23:19] jarkkojs opened #1567 "[Feature]: CET support for shim-sgx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

ROP is obviously one of the attack vectors against enclaves. CET can protect against them. Using CET in Enarx is factors easier than usual because no need to consider supporting legacy binaries, as binary is generated on fly. This adds a lot of defense in depth to Enarx.

### Acceptance Criteria

[2022-03-21 06:09] abhinandanudupa commented on #1448
Where should the sbom file be uploaded - in which folder?

[2022-03-21 08:00] haraldh commented on #1545
I can't do anything about it. This is a Linux Kernel or SNP PSP firmware bug.

[2022-03-21 13:59] platten opened #1573 "Optimization"

[2022-03-21 14:15] platten opened #1574 "Reduce size of shim artifacts sizes"

[2022-03-21 14:38] bstrie commented on #1330
Harald has a document here that we can repurpose: https://github.com/dracutdevs/dracut/blob/master/docs/HACKING.md#commit-messages

[2022-03-21 15:18] platten opened #1575 "Tracking issue for SGX 2 to support linux 5.19 kernel"

[2022-03-21 15:19] platten opened #1576 "[EXTERNAL]: SGX2 / EDMM support in Linux"

[2022-03-21 16:08] platten opened #1577 "Integration"

[2022-03-21 16:33] #1560 closed

[2022-03-21 19:05] #1461 closed

[2022-03-21 19:05] #1462 closed

[2022-03-21 19:05] #1574 closed

[2022-03-22 14:13] platten commented on #1545
Kernel received from AMD may address this issue. Investigation to ensue.

[2022-03-22 14:13] bstrie commented on #1445
I'm looking into this again. Previous attempts were stymied by https://github.com/rust-lang/cargo/issues/10431 and https://github.com/rust-lang/cargo/issues/10452 , which are fixed on nightly via https://github.com/rust-lang/cargo/pull/10433 (though we will need to bump our toolchain to get the fix). The first step will be to make wasmldr a binary artifact (since the shims are blocked on making un

[2022-03-22 15:13] rvolosatovs opened #1579 "[Feature]: Use correct TCB version in VCEK queries"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently we do this check when querying VCEK: https://github.com/enarx/enarx/blob/3109e4e82f727827713b3feccb3d20610228a24b/src/cli/sev.rs#L25-L31

According to @haraldh, the reason why there are 2 TCB versions reported is live upgrade support, which, we believe does not work on Linux, and therefo

[2022-03-22 16:32] platten opened #1580 "[Infrastructure]: LAB: Retain past images for CI."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Modify lab automation scripts to retain past images. Preferably push to external public mirror as well (like docker hub) for backup/retention.

[2022-03-23 14:05] #1228 closed

[2022-03-23 14:06] #1425 closed

[2022-03-23 14:06] #1458 closed

[2022-03-23 15:37] Freax13 commented on #1517
I'd like to work on this issue.

[2022-03-23 17:28] jarkkojs opened #1586 "[Bug]: Rocket.Chat server side is broken for external applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Server asks for password in addition to the access token.

### Expected Behaviour

Server can authenticate **only** with the access token.

### Environment Information

-

### Steps To Reproduce

-

[2022-03-23 17:39] platten commented on #1586
Hi @nickvidal, could you please follow up with @jarkkojs ?

[2022-03-23 17:45] jarkkojs commented on #1586
I'll provide a transcript on how to configure rocket.chat with bitlbee as soon as I get to it. I think it is something that would be appreciated also other people that they can use their favorite apps to access Enarx chat.

[2022-03-23 17:47] jarkkojs commented on #1586
https://github.com/ezkrg/docker-bitlbee-libpurple/issues/8

[2022-03-23 17:58] jarkkojs commented on #1586
Here's one related to access tokens: https://github.com/EionRobb/purple-rocketchat/issues/6

[2022-03-23 18:06] jarkkojs commented on #1586
[code]

Settings:

[code]
@nickvidal If you're unfamiliar with `bitlbee-purple` you can just as well test run this with `pidgin`. They both use the same backend.

[2022-03-23 18:08] nickvidal commented on #1586
Thanks, @jarkkojs. I'll have a look!

[2022-03-23 18:15] jarkkojs commented on #1586
There's an army of technically savvy people who could help a lot with Enarx, but like me, are too grumpy and terminal-oriented that not being able to use IRC will turn them down :-) That's why I think this is important. I just represent this niche in the core team ATM :-)

[2022-03-23 19:33] haraldh commented on #1549
still an issue?

[2022-03-23 20:06] haraldh commented on #1459
please retry with the latest enarx version

[2022-03-23 20:45] Freax13 opened #1587 "Minor aliasing issue regarding TSS in shim-kvm"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

shim-kvm's syscall handler uses the TSS as scratch memory while switching out the stacks:
https://github.com/enarx/enarx/blob/b5c5e46cc8b7dcd6a0c8c0320011476b5d8e06d8/internal/shim-kvm/src/syscall.rs#L38-L46

The problem

[2022-03-23 20:51] haraldh commented on #1587
Well spotted! You are right. Thanks!

[2022-03-23 22:19] platten commented on #1580
@npmccallum MR for SGX image changes: https://gitlab.com/enarx/sgx/-/merge_requests/7

If this is accepted, then I will create additional MRs for SNP and the KVM repos.

[2022-03-23 22:32] bstrie commented on #1528
Compiler MCP has been filed: https://github.com/rust-lang/compiler-team/issues/499

[2022-03-24 08:18] rvolosatovs commented on #1549
I believe it's fixed now

[2022-03-24 08:19] #1549 closed

[2022-03-24 13:57] haraldh commented on #1408
add check, that no `dbg` or `gdb` feature is only available in non `--release`

[2022-03-24 20:08] jarkkojs opened #1588 "[Feature]: maintain `Heap` state with `mmledger::Ledger`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Substitute address space management in `shim-sgx::heap` with `mmledger`.

### Acceptance Criteria

`cargo test` passes.

### Suggestions for a technical implementation

_No response_

[2022-03-24 23:25] jarkkojs commented on #1588
I tagged `v0.1.14-rc1` to my https://github.com/jarkkojs/mmledger, and use this as the basis for developing this feature (with @npmccallum's feedback about alignment taken into account).

[2022-03-25 10:28] Freax13 commented on #1517
One big problem with that is that `once_cell::sync::Lazy` is not available in no_std, so we'd have to use the unsynchronized variants. Since `once_cell::unsync::Lazy` is not `Sync`, we'd have to wrap them in a `Mutex`. which will no longer allow us to access the data concurrently or use another synchronization primitive like `RwLock` on top of `Lazy`. This is also prone to deadlocks because we nee

[2022-03-25 10:51] haraldh commented on #1031
I am sorry... I just created a repo: https://github.com/haraldh/testaso

@npmccallum you may want to import that to enarx

[2022-03-25 11:34] Deepansharora27 commented on #1031
Thanks 😊
I had the code ready but it had `memoffset` as a dependency. I wasn't aware that I will have to get rid of it.

[2022-03-25 11:55] bstrie commented on #1517
Interesting, from reading the docs for once_cell it's not obvious that the `unsync` module is no-std while the `sync` module isn't. I had assumed that it would be using a spinlock internally, but I suppose it's also a reasonable design for it to ask you to bring your own spinlock. I'll leave the decision to Harald, who has more experience with the shims and with the spinning crate.

[2022-03-25 14:57] haraldh commented on #1031
https://crates.io/crates/testaso

[2022-03-25 19:01] bstrie commented on #1346
@moksh-pathak my apologies, but this issue turned out to be an unforeseen blocker for another important issue so I've gone ahead and implemented this.

[2022-03-25 19:15] #1346 closed

[2022-03-25 21:01] npmccallum opened #1594 "[Bug]: SBOM not working correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

I'm getting test failure emails for this workflow: https://github.com/enarx/enarx/actions/runs/2042211076

### Expected Behaviour

The workflow should work.

### Environment Information

GitHub Actions

### Steps To

[2022-03-26 03:22] abhinandanudupa commented on #1594
Regenerate-BOM:
    uses: abhinandanudupa/enarx/.github/workflows/sbom_manifest_action.yml@main

I will have to remove the @main part

[2022-03-26 03:33] abhinandanudupa commented on #1594
Should I make a new PR?

[2022-03-27 08:43] jarkkojs commented on #1496
[code]

Out of date now, but for putting here for reference.

[2022-03-28 00:13] jarkkojs commented on #1588
@npmccallum Now I'm finished with this task. Once this is merged, I will move on to SGX2 phase.

[2022-03-28 00:14] jarkkojs commented on #1588
Now I actually just take a deep breath and wait. Enough stuff in queue.

[2022-03-28 07:35] jarkkojs opened #1598 "[Feature]: add ioctl's required for `munmap()` sequence"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

#1531 depends on this.

Sequence:
1. Enarxcall from guest to host: modify a range to `PT_TRIM`.
2. Back to guest handler.
3. Validate the host's action with a `SecInfo::accept()` fill.
4. Another enarxcall from guest to host: remove pages from range.
5. Update the ledger. Must be the last step.

#

[2022-03-28 11:28] MikeCamel opened #1602 "[Feature]: Java -> Wasm guide"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There's currently no known when to compile from Java to an Enarx-compatible Wasm executable. This is a key  use case for Enarx.

### Acceptance Criteria

- [ ] Create a simple "Hello World" app in Java, compile to Wasm, run within an Enarx Keep
- [ ] Create a simple echo server app in Java, compil

[2022-03-28 13:31] Deepansharora27 commented on #1602
Thanks for Posting the issue thread  this @nickvidal

[2022-03-28 13:36] Deepansharora27 commented on #1602
During my course of Research during the Weekend, I have found out that with ByteCoder we will not be able to achieve what we want.

Compiling Java ByteCode to WebAssembly Binary gives out no issues but making it work on Wasmtime doesn't work.
Today itself I have reached out to Mr. Mirko Setric who is the author of the ByteCoder Project and let's see what he has to say on the Support.

My Hypothesi

[2022-03-28 14:05] npmccallum commented on #1594
@abhinandanudupa Yes please.

[2022-03-28 16:06] abhinandanudupa commented on #1594
Done.

[2022-03-29 00:48] jarkkojs opened #1606 "[Feature]: Consolidate /dev/sgx_enclave to one place in the SGX backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

To avoid repetition and difference in semantics.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-03-29 07:44] Deepansharora27 commented on #1602
I think we can also check out TeaVM from the list as well, since it's use case is only constrained to compiling Java ByteCode that emits JavaScript and WebAssembly that only runs inside the Browser, and since it is accessing the DOM in this case, it won't work with our use case as well.

[2022-03-29 11:17] #1588 closed

[2022-03-29 13:05] bstrie opened #1609 "[Infrastructure]: Have CI gate PRs on binary size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

We care about the binary size of Enarx, the shims, and wasmldr. But right now binary size regressions are only detected when someone manually inspects the binaries. CI should aid us in detecting size regressions. I'm uncl

[2022-03-29 13:10] npmccallum commented on #1609
I think we just need to have a hard limit of 1MiB for shims. When we hit that limit, we kick off a (manual) size-optimization task and target getting below 0.5MiB. Then we adjust these thresholds as necessary.

[2022-03-29 13:51] haraldh commented on #1031
I think I covered all appearances.

[2022-03-29 13:51] #1031 closed

[2022-03-29 14:25] haraldh opened #1610 "[EXTERNAL]: change musl libc to honor AT_HWCAP2 and RDWRFSBASE"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

SGX needs to set the TLS pointer

### Acceptance Criteria

d

### Suggestions for a technical implementation

https://www.openwall.com/lists/musl/2022/03/29/7

[2022-03-29 14:26] platten opened #1611 "ARM Support"

[2022-03-29 14:28] platten opened #1612 "shim_kvm on arm64 investigation"
# Scope
- map X86_64 syscalls over to ARM
  - [ ] `sallyport`: syscall numbers conditionalized
  - [ ] Compile `sallyport` on arm64
- `shim_kvm`
  - [ ] Page tables
  - [ ] initialization code
  - [ ] syscall mechanism / exception handler
- wasmtime dependency tree
  - [ ] Test arm64 backend for cranelift
  - [ ] Bugfixing
- [ ] Cross-compilation for binary dependencies

[2022-03-29 14:35] platten commented on #1612
- map X86_64 syscalls over to ARM
  - `sallyport`: syscall numbers conditionalized
  - Compile `sallyport` on arm64
- `shim_kvm`
  - Page tables
  - initialization code
  - syscall mechanism / exception handler
- wasmtime dependency tree
  - Test arm64 backend for cranelift
  - Bugfixing
- Crosscompilation for binary dependencies

[2022-03-30 12:34] jarkkojs opened #1615 "[Bug]: asymmetry in enclave size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

The backend for SGX uses dynamic value for the enclave. The shim for SGX uses a static value for the enclave. This can lead to undefined behavior if they are out-of-sync.

### Expected Behaviour

Sizes are always in

[2022-03-30 13:00] #1615 closed

[2022-03-30 13:14] jarkkojs commented on #1612
Would be probably appropriate to mention that Realms is in ARMv9 microarchitecture.

[2022-03-30 13:16] jarkkojs commented on #1612
And the spec is located here: https://developer.arm.com/documentation/ddi0615/latest/. I've skimmed through it briefly some time ago.

[2022-03-30 19:28] platten commented on #1580
@npmccallum waiting for review:
KVM: https://gitlab.com/enarx/kvm/-/merge_requests/1
SNP: https://gitlab.com/enarx/snp/-/merge_requests/6

[2022-03-31 03:55] jarkkojs opened #1618 "[Bug]: bccce095 breaks `ENARX_BACKEND=sgx cargo test` when AESM daemon is not running"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

All tests fail.

### Expected Behaviour

The test, which do not use attestation pass.

### Environment Information

XPS-13 2020 model laptop

### Steps To Reproduce

_No response_

[2022-03-31 07:18] haraldh commented on #1618
Just remove `ENARX_BACKEND=sgx` ... the backend is not able to run.. point.

[2022-03-31 07:41] haraldh commented on #1618
or just:
[code]

[2022-03-31 12:44] bstrie commented on #1445
wasmldr has been made a binary artifact, although with complications; see the extensive comment at https://github.com/enarx/enarx/pull/1604 for details. In particular we encountered several bugs with binary dependencies that either needed to be worked around or endured. I've minimized the remaining bugs and filed them with Cargo:

1. https://github.com/rust-lang/cargo/issues/10525
    * This bug i

[2022-03-31 13:34] rvolosatovs opened #1736 "[Feature]: Remove `sgx` struct definitions"

[2022-03-31 14:03] platten commented on #1618
This looks like a non-issue. Let's discuss.

[2022-04-01 06:08] jarkkojs opened #1621 "[Bug]: All `wasmldr` tests are broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

[code]

### Expected Behaviour

No attestation error.

### Environment Information

-

### Steps To Reproduce

_No response_

[2022-04-01 06:10] jarkkojs commented on #1621
How can I prevent `wasmldr` tests not to do attestation?

[2022-04-01 06:52] jarkkojs commented on #1621
[code]

[2022-04-01 08:45] andyzyb opened #1622 "[Bug]: failed to build wasmldr"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

  = note: /usr/bin/ld: /home/andy/src/enarx/target/x86_64-unknown-linux-musl/debug/deps/libring-7fe595f74e4487ef.rlib(aes_nohw.o): relocation R_X86_64_32S against `.rodata.aes_nohw_rcon' can not be used when making

[2022-04-01 11:17] #1274 closed

[2022-04-01 14:57] #1508 closed

[2022-04-02 00:51] jarkkojs opened #1624 "[Feature]: SGX Developer Experience"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

These experience, from developers perspective, are regressions:

* https://github.com/enarx/enarx/issues/1621
* https://github.com/enarx/enarx/issues/1618

We need a long-term plan on how to:

1. Low the barrier to test changes on SGX2 enabled machine.
2. Maintain this developer experience in the

[2022-04-02 00:57] jarkkojs commented on #1624
I promise not to report any new bugs but instead collect my experiences here at fresh, since probably same things will hit anyone who starts from zero with Enarx.

[2022-04-02 00:58] jarkkojs commented on #1624
@nickvidal, this might be issue that you might also want to follow, given that it links directly to Enarx community experiece, right?

[2022-04-02 01:02] jarkkojs commented on #1624
SGX2 is probably most easily acquirable technology delivering CC that you can buy and use at home, and thus easiest option for community members.

[2022-04-02 08:11] jarkkojs opened #1625 "[Infrastructure]: Post-process log with syscall name substitution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

[code]

[2022-04-02 08:11] jarkkojs commented on #1625
E.g.

[code]

Improves the developer experience a lot.

[2022-04-02 08:12] jarkkojs commented on #1625
@haraldh, @npmccallum: What do you think?

[2022-04-02 08:39] andyzyb commented on #1622
Resolved the issue with adding a linker option in .cargo/config as suggested in below link

https://github.com/briansmith/ring/issues/544

[2022-04-02 08:39] #1622 closed

[2022-04-02 08:51] jarkkojs commented on #1625
After this I also do:

[code]

Results:

[code]

[2022-04-03 06:00] jarkkojs commented on #1624
This would quickly address the immediate issues: https://github.com/enarx/enarx/pull/1626

[2022-04-03 06:25] jarkkojs opened #1627 "[Feature]: remove `heap.rs` tests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

`heap.rs` tests are not compatible on using `EACCEPTCOPY`, which is part of all code flows.

### Acceptance Criteria

-

### Suggestions for a technical implementation

-

[2022-04-03 22:29] jarkkojs commented on #1625
Maybe CI could produce a supplemental log with this post-processing? It does not take long, as long as long as `sys_clock_gettime` is filtered out.

[2022-04-04 01:35] jarkkojs commented on #1625
After:
[code]

[2022-04-04 01:36] jarkkojs commented on #1625
@haraldh What do you think?

[2022-04-04 01:52] jarkkojs commented on #1627
Part of #1607.

[2022-04-04 08:08] haraldh commented on #1625
I think @bstrie should also generate a `syscall_no.to_string()` function for our libc, which we call when `feature = "dbg"`.

[2022-04-04 08:51] jarkkojs commented on #1625
IMHO, there should be at least a feature to suppress also `clock_gettime`. I.e. optimal would be:

[code]

[2022-04-04 14:17] #1580 closed

[2022-04-04 19:40] rvolosatovs commented on #1245
This will be closed by https://github.com/WebAssembly/wasi-libc/pull/282

[2022-04-05 05:54] jarkkojs commented on #1576
* v3: https://lore.kernel.org/linux-sgx/cover.1648847675.git.reinette.chatre@intel.com/T/#t
* Arch Linux packages: https://github.com/jarkkojs/aur-linux-sgx/actions/runs/2094138421
* Gave reviewed-by for https://lore.kernel.org/linux-sgx/cover.1648847675.git.reinette.chatre@intel.com/T/#m80374894660b23d56ca1f1fa74bca99e1057a833.

[2022-04-05 08:15] Deepansharora27 opened #1630 "[Bug]: WASM Binary runs in Wasmtime but gives a `Shutdown` error while deploying it in Enarx Keep"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

I was trying my hands on the `Wasi-sdk` release for .NET. The issue that I am getting is that the WASM Binary is getting generated successfully but when I am trying to deploy it in an Enarx Keep, it gives me a `Shut

[2022-04-05 08:49] jarkkojs commented on #1576
I ended up acking about 80% of the patches.

[2022-04-05 13:24] platten commented on #1630
Hello @Deepansharora27 , I've noticed that you're running enarx 0.2.0 which is outdated. Could you please update to the latest release (0.3.0) and try again? If this problem still is occuring, could you please list all the steps to reproduce it and provide and output? Thanks!

[2022-04-05 13:57] rjzak commented on #1630
I've had this issue with the latest code trying out the wasm version of Ruby.

[2022-04-05 15:46] jarkkojs opened #1737 "[Feature]: fallible `PassthroughAlloc`"

[2022-04-05 17:13] Deepansharora27 commented on #1630
I guess there is a minor typo in this command :

`cargo run --features dbg mywasm.wasm`

It gives a error when I provide it the `run` flag. Also there is a space between features and dbg.

But even when I am trying to execute with this
It logs out this error that error: Found argument 'mywasm.wasm' which wasn't expected, or isn't valid in this context

[2022-04-05 17:23] Deepansharora27 commented on #1630
Spot on @rjzak Thanks !! I missed that

[2022-04-05 17:24] Deepansharora27 commented on #1630
I am getting the following Exception:
`
EXCEPTION: PAGE FAULT
Accessed Address: VirtAddr(0x10)
Error Code: CAUSED_BY_WRITE | USER_MODE
ExtendedInterruptStackFrameValue { rbp: 5e8, rbx: 3f, r15: 7f344495c130, r14: 7f344495bb40, r13: 5555e3c73bd0, r12: a0160, r11: 46, r10: 1, r9: 5555e3b9ba00, r8: 5555e3c73b90, rax: 5555e3bd3a30, rcx: 0, rdx: 0, rdi: 5f0, rsi: 41, instruction_pointer: VirtAddr(0x7f3

[2022-04-05 17:26] Deepansharora27 commented on #1630
Attaching Screenshot as well for more readability:

![Screenshot from 2022-04-05 22-55-35](https://user-images.githubusercontent.com/43300955/161814815-be2e4395-dfad-4eef-9729-72f6ad1aeedf.png)

[2022-04-05 17:42] rjzak opened #1637 "[Feature]: Implement _an appropriate subset_ of `mremap()` for SGX"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Implement `mremap()` for SGX. Required at least for Ruby, .Net (#1630).

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-04-05 17:43] rjzak opened #1638 "[Feature]: Implement `mremap()` for KVM"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Implement `mremap()` for KVM

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-04-05 17:59] jarkkojs commented on #1637
OK so this is man-page for `mremap()`: https://man7.org/linux/man-pages/man2/mremap.2.html

[2022-04-05 18:00] jarkkojs commented on #1637
@rjzak Can you recall, which parameters were supplied to `mremap()`?

[2022-04-05 18:07] jarkkojs commented on #1637
Of a subset won't scale to some other application but then we refine it. Dealing with these highly specialized syscalls is an evolutionary process. I.e. we need to check the exact subset that Ruby uses and work from there.

[2022-04-05 18:38] rjzak commented on #1630
Looks like it's the same issue I had, #1637 and #1638. Syscall 25 `mremap()` isn't implemented.

[2022-04-05 18:39] rjzak commented on #1637
I don't know what the parameters were, but I do have a test .wasm file you can use for testing. https://rjzak.keybase.pub/hello-rb.wasm?dl=1

[2022-04-05 19:02] jarkkojs commented on #1637
Thanks that is sufficient!

[2022-04-05 19:07] rjzak commented on #1637
@jarkkojs if you need another example, I'm sure @Deepansharora27 can share his .Net example

[2022-04-05 19:23] jarkkojs commented on #1637
@Deepansharora27 Can you also provide my pre-compiled wasm-file?

[2022-04-05 19:24] jarkkojs commented on #1637
Thank you!

[2022-04-05 20:30] bstrie commented on #1372
I have confirmed that the proposed https://github.com/enarx/enarx/pull/1608 removes all uses of the `generic_const_exprs` and `const_mut_refs` feature flags.

[2022-04-06 02:29] jarkkojs commented on #1372
Not using them. Heap is created dynamically.It allows to manager virtual memory areas with their real addresses. @npmccallum i.e. I'm using ledger with real coordinates now.

[2022-04-06 06:40] Deepansharora27 commented on #1637
@jarkkojs Here is the link to it : https://keybase.pub/deepansharora27/wasm_file.wasm

[2022-04-06 06:40] jarkkojs commented on #1637
Thank you.

[2022-04-06 07:48] jarkkojs commented on #1637
I'm investigating this next week after https://github.com/enarx/enarx/pull/1608 has been merged.

[2022-04-06 09:04] haraldh commented on #1517
Yes, makes sense.

And for the shims, when we implement multi-threading, we have to write our own RwLock and Mutexes anyway with the help of proxying to the host with the `futex()` syscall after some manual spinning.

[2022-04-06 12:17] rvolosatovs opened #1738 "[Feature]: Page-aligned address type"

[2022-04-06 13:47] #1618 closed

[2022-04-06 13:47] #1621 closed

[2022-04-06 14:03] platten opened #1646 "Language Support"

[2022-04-06 14:38] nickvidal opened #1647 "Enarx 0.4.0 Launch Materials"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For the upcoming Enarx 0.4.0 release, we want to publish some launch materials, including:

- [x] Enarx documentation update
  - [x] WebAssembly Guide (with Rust, C, C++, Go, JS, TS, AssemblyScript, Grain, Zig, .NET, Ruby, and Python - using Enarx)
  - [x] Networking Guide (initial, with diagrams)

[2022-04-06 17:47] Deepansharora27 commented on #1630
@jarkkojs @rjzak I was just curious how did you figure out by looking at this that Syscall 25 `mremap()` is not implemented

[2022-04-06 18:51] Deepansharora27 opened #1649 "[Bug]: `KVM Shutdown Error` with JS Binary"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

With JS Binary, the same issue prevails as .NET and Ruby.

Even getting JS Binary to work with `wasmtime` was a bit cumbersome at first, but with `msgpack` dependency, I was finally able to get it working with Wasmt

[2022-04-06 21:04] rjzak commented on #1649
Can you provide a longer trace? If this has syscall 25, it might be fixed when the PRs are accepted.

[2022-04-06 21:05] rjzak commented on #1630
We didn't, @rvolosatovs looked at the trace and already knew that syscall 25 wasn't implemented.

[2022-04-07 05:02] Deepansharora27 commented on #1649
@rjzak Will this work ?
[code]

[2022-04-07 06:18] Deepansharora27 commented on #1649
I don't know whether I am right or not, please correct me if I am wrong but I guess it has something to do with syscall 228 since it's occuring redundantly.

[2022-04-07 09:16] jarkkojs opened #1651 "[Feature]: feat(gdb): check address ranges with `mmledger::Ledger::contains()`"

[2022-04-07 10:43] #1496 closed

[2022-04-07 10:43] #1627 closed

[2022-04-07 11:10] #1517 closed

[2022-04-07 11:32] #1421 closed

[2022-04-07 13:01] platten opened #1656 "[Feature]: Release 0.4 version of Enarx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Release 0.4 version of Enarx

### Acceptance Criteria

- [ ] Toolchain & dependencies updated
- [ ] Release prerequisite crates
- [ ] Release notes change log created/updated
- [ ] Build passing & documented
- [ ] Semver bumped
- [ ] GitHub tag/release created
- [ ] Pushed to crates.io
- [ ] enarx

[2022-04-07 13:30] bstrie commented on #1406
These usages were removed in #1608 and the flags removed in https://github.com/enarx/enarx/pull/1655 .

[2022-04-07 13:30] #1406 closed

[2022-04-07 13:36] rjzak commented on #1649
PR 1645 added the syscall that was needed for Ruby, so maybe do a `git pull`, `cargo clean`, and `cargo build` to see if the issue is fixed. Otherwise, pipe the output to a file and share via chat.

[2022-04-07 13:36] haraldh commented on #1637
Hmm, still not complete, because munmap() is not working.

[2022-04-07 13:48] rvolosatovs commented on #1630
is the key - `mremap` was executed, but returned errno `38`, which corresponds to `ENOSYS` - that's what sallyport returns for unimplemented syscalls.

[2022-04-07 13:51] haraldh commented on #1637
This one needs the `SYS_clock_getres` syscall

[2022-04-07 13:53] haraldh opened #1657 "Implement `clock_getres` syscall"
This one needs the `SYS_clock_getres` syscall

_Originally posted by @haraldh in https://github.com/enarx/enarx/issues/1637#issuecomment-1091766992_

Above example:
[code]

[2022-04-07 14:06] platten opened #1658 "[Infrastructure]: Update bug report template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Update bug report template to include uploading binary which might be failing.

[2022-04-07 14:07] jarkkojs commented on #1657
ok can do

[2022-04-07 14:52] haraldh commented on #1657
?

[2022-04-07 14:56] haraldh commented on #1275
Huh? why is this closed?

[2022-04-07 14:58] haraldh commented on #1649
@Deepansharora27 please give me a link to the wasm file, so I can try to reproduce.

[2022-04-07 15:11] haraldh opened #1661 "[Feature]: Clippy lint undocumented unsafe blocks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

For better review and a later audit process, it is critical to have safety comments for all unsafe blocks.

To make those blocks as small as possible, unsafe functions should allow unsafe blocks in the inside also.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementa

[2022-04-07 15:24] bstrie commented on #1661
Yes, having every unsafe block documented will be mandatory if we ever hope to pass an actual audit. In general I would also like to see safety comments be more rigorous and standardized, but that can happen in a future effort.

Also turning on more clippy lints in general is something that we should pursue.

[2022-04-07 15:38] bstrie commented on #1372
I've also just noticed that one of the tests has `#![cfg_attr(target_os = "wasi", feature(wasi_ext))]`. I'll inquire as to the status of stabilization for the wasi_ext feature, but for now this is only a minor concern since it's just a test.

[2022-04-07 16:11] bstrie commented on #1372
While poking around in our dependencies it appears as though the only external dependency (i.e. not in the Enarx repo) that makes use of unstable features is sallyport. I've identified two new unstable features used by sallyport, `nonnull_slice_from_raw_parts` and `slice_ptr_len`. Both of these features appear to be low risk. I've updated the checklist in the main issue to add these.

[2022-04-07 16:20] rvolosatovs opened #1663 "[Feature]: Integrate `sallyport` crate into this repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We should integrate https://github.com/enarx/sallyport into this repository

I would like to emphasize, that the commit history of that repository __should be preserved__, that means that all commits from original repository should be rebased onto the tree within this repository rooted at a path (

[2022-04-08 06:55] haraldh commented on #1649
I don't know what it expects as input,  but:
[code]

[2022-04-08 06:55] haraldh commented on #1649
That is with current HEAD f5c9e74bd2ebf01d71ac256e6b59104b10fe0e6b

[2022-04-08 07:19] Deepansharora27 commented on #1649
It expects a `messagepack` input to be piped along with it. So normally if we run it on the top of wasmtime we have to execute it like this:

`json2msgpack -i input.json  | wasmtime run index.wasm | msgpack2json`

The fibonacci function here expects a number as a parameter and that number is supplied through the input.json file by converting it into `messagepack`

[2022-04-08 11:32] haraldh commented on #1649
@Deepansharora27 worth a try with a current git version of enarx.

[2022-04-08 11:53] #1657 closed

[2022-04-08 13:20] Deepansharora27 commented on #1649
@haraldh It is working now Harald in Enarx Keep as well with :

`json2msgpack -i input.json | enarx run JSBinary.wasm | msgpack2json`

[2022-04-08 13:33] #1486 closed

[2022-04-08 14:40] platten commented on #1649
This has been resolved.

[2022-04-08 14:40] #1649 closed

[2022-04-09 06:16] #1630 closed

[2022-04-10 16:47] rjzak opened #1668 "[External]: Fortran support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Initial motivation:
* [The State of Fortran](https://arxiv.org/abs/2203.15110) IEEE paper at arXiv
* [Fortran in the browser](https://chrz.de/2020/04/21/fortran-in-the-browser/) blog post

Tracking effort of getting Fortran to work to be a supported language in the future.
* https://github.com/Sta

[2022-04-11 07:23] bstrie commented on #1528
This is now complete.

[2022-04-11 07:23] #1528 closed

[2022-04-11 07:47] bstrie commented on #1577
What does this issue track?

[2022-04-11 13:21] bstrie commented on #1646
For 0.5, our goal is to support the following initial set of languages:

* Javascript
* Rust
* Go
* C
* C++
* Python

[2022-04-11 13:22] rjzak commented on #1646
Ruby is close

[2022-04-11 13:24] bstrie opened #1678 "Demos and examples"
For every supported language (https://github.com/enarx/enarx/issues/1646), we need to flesh out our demos, examples, and associated documentation. This involves finding the best place for examples to live (either in the Enarx monorepo, or in a dedicated examples repo, or in one repo per language), as well as making sure that CI is exercising every example in every language.

[2022-04-11 14:06] bstrie opened #1679 "A template for safety comments"
Related to https://github.com/enarx/enarx/issues/1661 . For easier auditing, all of our repos should be aligned in how they use comments to document unsafe blocks. I have ideas, but I need to sit down and polish them.

[2022-04-11 19:48] #1465 closed

[2022-04-11 20:13] rjzak commented on #1668
The developer of [LPython](https://github.com/lcompilers/lpython) will add WebAssembly output support, allowing for Python->WebAssembly compilation. But LPython shares a lot of the same code with [LFortran](https://gitlab.com/lfortran/lfortran/), so when LPython compiles to Wasm, so will LFortran. The developer will work on this, just wanted to know that someone would actually use WebAssembly if h

[2022-04-12 14:07] jarkkojs commented on #1651
Depends on mmledger#44

[2022-04-12 14:12] jarkkojs commented on #1651
@haraldh, just to check these functions need to refined, right?

[code]

[2022-04-12 14:38] haraldh commented on #1651
yes

[2022-04-12 22:03] jarkkojs commented on #1651
Theoretically initial ledger could be embedded during the build time to the enclave binary (unmeasured) and all checks could go through it. Should we take the longer or shorter path?

[2022-04-13 14:00] platten opened #1697 "Installation Testing"

[2022-04-13 14:10] platten commented on #1610
We have a workaround already merged and this is not in the critical path.

[2022-04-13 14:11] #1656 closed

[2022-04-13 15:05] jarkkojs opened #1699 "[Feature]: shim-sgx: fill the ledger with the build time data."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Continuation to https://github.com/enarx/enarx/issues/1651 that is not critical right now but should be implemented at some point.

Putting everything to the ledger allows very stream-lined GDB code. Everything can be checked from the ledger in honest way.

### Acceptance Criteria

-

### Suggesti

[2022-04-13 16:49] #1663 closed

[2022-04-13 20:08] nickvidal commented on #1646
Nick to review the WebAssembly Guide and make sure all examples run on Enarx and document that (currently they work for wasmtime).

[2022-04-13 20:13] #1647 closed

[2022-04-14 08:40] jarkkojs commented on #1576
v4 is out looking good.

[2022-04-14 08:40] jarkkojs opened #1700 "[Feature]: migrate to linux sgx2 v4 patch set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

+

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-04-14 09:38] platten opened #1701 "[Infrastructure]: Provide approved installation methods in source code in INSTALL.md"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

**Goal:**
Provide instructions which are managed and approved by development team along with the source code, which can:
- Be testable
- Allow to be embedded in enarx.dev documentation during enarx.dev deployment CI

[2022-04-14 09:59] platten opened #1703 "[Infrastructure]: Test INSTALL.md"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Provide a reusable workflow to test installation instructions in `INSTALL.md`.

[2022-04-14 10:22] platten opened #1704 "[Feature]: Test "mock" `cargo publish` on every commit."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In order to avoid issues which may occur during publishing crates, it would be useful to have automation in place which could ensure a successful "mock" `cargo publish` run on every PR submission.

### Acceptance Criteria

- A reusable workflow which would run the `cargo publish` job for the binar

[2022-04-14 11:37] platten opened #1705 "[Feature]: Crate release automation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Create a github action for publishing crates in each of the enarx dependency subcrates (`xsave`, `primordial`, etc).

### Acceptance Criteria

- Publish reusable github action in a `enarx` org repository which can be parameterized with optional registry (for mock actions)
  - should have dry run "

[2022-04-14 14:05] #1700 closed

[2022-04-14 14:22] #1202 closed

[2022-04-14 14:23] #1275 closed

[2022-04-14 14:23] #1445 closed

[2022-04-14 15:21] platten opened #1710 "[Infrastructure]: Create on-demand GH action to create statically compiled binary and upload to artifacts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Create on-demand GH action to create statically compiled binary and upload to artifacts.

Tasks:
- [ ] Publish build image based on [rust-musl-builder](https://github.com/emk/rust-musl-builder)
- [ ] Create github action

[2022-04-14 15:25] platten opened #1711 "[Infrastructure]: Investigate dependency graph for static build"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Investigate static binary to determine if cargo will do a union of all the feature flags in the host layer and exec layer. We want to determine if the features from the host binary bleed into the exec binary.

[2022-04-14 15:28] platten opened #1712 "[Infrastructure]: Post job cleanup in self-hosted GHA runners"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Ensure that there is no state between workflow runs on the self-hosted GHA runners.

[2022-04-14 15:33] platten opened #1713 "[Infrastructure]: Sallyport migration cleanup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

- [ ] Check if sallyport issues are still relevant / remove issues which are no longer relevant
- [x] Move sallyport github issues over to enarx (and properly label them)
- [x] Archive the Sallyport repository
- [x] Check

[2022-04-14 16:20] bstrie commented on #1563
Now that we have a proper Cargo workspace to unify our dependency versions, I'm going to start looking into this here-and-there. The first step has landed in https://github.com/enarx/enarx/pull/1709 , where I've identified several unused direct dependencies. In the long term we should also look into a CI step for automatically identifying unused dependencies. In theory cargo-udeps is a tool that d

[2022-04-15 12:15] #1713 closed

[2022-04-15 13:45] bstrie opened #1739 "Readme updates"
The readme is a key part of the developer experience, as it's the most prominent thing that people see when they visit the Enarx Github page. It could use some updating and revision.

[2022-04-15 13:53] bstrie opened #1740 "Investigate linking with LLD"
When we ported the shims to unknown-none we encountered a problem where linking shim-kvm with GNU LD resulted in a 200 KB binary, whereas linking with LLD resulted in a 134 MB binary, which is unacceptable. Figure out why LLD is doing this, and either fix it, find a workaround, or at least file a bug report with LLD. The reason to care about this is that it makes `cargo install` dramatically less

[2022-04-15 13:57] bstrie commented on #1739
First step: https://github.com/enarx/enarx/pull/1720

[2022-04-15 14:20] bstrie opened #1741 "Streamline CI actions"
Waiting for CI is a bottleneck for writing and reviewing PRs, and a long CI queue makes for a bad developer experience. I suspect that it's possible to streamline our existing suite of CI actions:

1. Identify and eliminate redundant or low-value actions
2. Fix flakiness regarding improperly cleaned-up builders.
3. Identify dependencies that are unnecessary and whose installation can be skipped (e

[2022-04-15 14:22] bstrie commented on #1741
Reducing Rust build times would also have an effect here, of which https://github.com/enarx/enarx/issues/1563 is related.

[2022-04-15 14:24] bstrie commented on #1741
https://github.com/enarx/enarx/pull/1720 has removed the cargo-readme actions without reducing functionality.

[2022-04-15 14:38] bstrie opened #1742 "Finish migrating the wiki to the official documentation at enarx.dev"
Some pages on the wiki have been migrated, but there are still plenty that haven't. It's difficult for developers to keep the documentation in sync if there isn't a single canonical place for the documentation to live, and it's even more confusing for users to figure out where the canonical documentation is and if any documentation they find is up-to-date.

[2022-04-15 19:37] rjzak opened #1743 "[External]: Tracking Kotlin support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Tracking the support for WebAssembly in Kotlin, which may also bring Java support.

There is initial support for Kotlin + WebAssembly using the "kotlin-native" compiler, which is built on LLVM. Though it only supports WebAssembly, not WASI at present. [Link](https://blog.jdriven.com/2021/04/runnin

[2022-04-16 18:33] jarkkojs commented on #1738
Primordial is IMHO something we should stick into with these since it is part of Enarx umbrella, and has proven to work quite well. Earlier the problem was that it was not possible to use `Page` as alignment type if I recall correctly but @npmccallum fixed it for `mmledger`.

[2022-04-18 15:10] bstrie opened #1747 "Contributor User Experience"
As developers ourselves, but more importantly as an open-source project, we need to consider the user experience of our contributors. In the long-term, an early focus on contributor user experience will have an amplifying effect on project development.

Let's identify contributor desires (with a particular focus on new contributors) as a way of guiding our efforts to improve in this area. Not all

[2022-04-19 07:06] jarkkojs commented on #1747
Dependency: #1624.

[2022-04-19 10:49] jarkkojs opened #1751 "[Feature]: More structured error messages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We have a lot of error message but there's huge variation in form of them. I would like to see something more "standardized". Every single time I have to add one I'm puzzled which verb/noun/etc. I should be using. I should be able to know how structure an error message properly.

### Acceptance Cr

[2022-04-19 14:03] rvolosatovs commented on #1729
That was fixed by adding specialization

[2022-04-19 14:03] #1729 closed

[2022-04-19 14:10] rvolosatovs commented on #1734
Not clear how to proceed, closing

[2022-04-19 14:10] #1734 closed

[2022-04-19 14:11] rvolosatovs commented on #1735
Probably duplicate of #1734? No description given and #1735 received no response, closing.

[2022-04-19 14:11] #1735 closed

[2022-04-19 14:12] rvolosatovs commented on #1732
@npmccallum is this something we want to do in this sprint?

[2022-04-19 14:12] platten commented on #1741
@npmccallum mentioned that it would be helpful to turn on fast-fail.  Will link new issue.

[2022-04-19 14:13] platten opened #1753 "[INFRA]: Add fast fail to GHA CI workflows"

[2022-04-19 14:28] platten commented on #964
@haraldh @rvolosatovs Is this still relevant or should this be closed?

[2022-04-19 14:46] haraldh commented on #964
yes

[2022-04-19 15:21] jarkkojs commented on #1751
thanks @MikeCamel

[2022-04-19 18:45] platten opened #1755 "[Feature]: Generate markdown documentation for CLI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

With the [upcoming support](https://github.com/enarx/enarx.github.io/issues/178) for versioned documentation it would be useful for users to browse a versioned CLI reference on the [enarx.dev](http://enarx.dev) website.

This pattern is well established in the Golang developer communities (pretty

[2022-04-20 14:06] moksh-pathak commented on #1731
I would like to take this up.

[2022-04-20 16:01] bstrie opened #1757 "Production User Experience"
Whereas https://github.com/enarx/enarx/issues/1747 focuses on the UX of people contributing to Enarx codebases, this issue tracks the UX of people actually using Enarx and its associated tooling, a.k.a. "Production Users".

Production user desires:

* Production user documentation must be easy to find, easy to understand, comprehensive, and accurate.
    * Documentation should be subject to automa

[2022-04-20 23:14] bstrie opened #1758 "Reinstate shim unit tests"
When the shims were ported to x86_64-unknown-none, the ability to unit test them was lost since no_std targets don't support libtest. We should find another way to test them.

[2022-04-21 14:58] raravena80 opened #1766 "CNCF TAG-Runtime discussion/presentation?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hello enarx team,

I'm one of the co-chairs of the CNCF TAG-Runtime. I'm reaching out and I think it would be great for you to present/discuss the project at one of our meetings. For example, a general overview of the project or/and a demo.

Feel free to add it to our [agenda](https://bit.ly/cncf-

[2022-04-22 04:14] haraldh commented on #1753
Why? In my experience it leads to more runs.

[2022-04-22 13:21] bstrie opened #1771 "Rust unstable feature wishlist"
While we're currently using unstable Rust features, we've imposed a moratorium on adding dependencies on any new unstable features in the hopes of being able to compile on stable Rust in the near(-ish) term: https://github.com/enarx/enarx/issues/1372 . And once we're on a stable release, we're not going to want to return to unstable releases unless there's an overwhelmingly compelling reason.

How

[2022-04-22 14:23] platten opened #1772 "Update to Wasmtime 0.36"

[2022-04-22 18:56] bstrie commented on #1758
I was actually mistaken, despite the fact that the library is no_std, the shims are already set up such that their library component can be tested, and CI is already doing so.

[2022-04-22 18:56] #1758 closed

[2022-04-24 07:20] jarkkojs opened #1774 "feat(sgx): `munmap()` in `brk()`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After `munmap()` has been landed, use `munmap()` is `brk()`. This is debt from  #1608.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-04-24 09:24] MikeCamel opened #1775 "[Feature]: Ruby demo docs incomplete"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

1. The Ruby demo docs (https://enarx.dev/docs/WebAssembly/Ruby) assume that `wasmtime` is installed, but give not examples for how to do so.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-04-24 14:25] rjzak commented on #1775
Rust, C, and Go also assume `wasmtime` is already installed. But this brings up the question: who is the audience for these tutorials? Other developers? Linux users? Some demos had expected users to already have Docker installed, but also instructed the person to `apt-get install` a text editor.

[2022-04-24 14:39] MikeCamel commented on #1775
We need to regularise the demos. I'll look into it.

[2022-04-25 09:25] MikeCamel commented on #1646
Here are my thoughts on this (very much up for discussion):

1. we probably need to create a distinction between "supported" and "working" (maybe even also "part-working/need attention")
2. all should be aimed at Linux users who are also developers in the language selected, but should include compile-time and run-time *all* dependencies which are beyond the core language (e.g. no need to note the

[2022-04-25 13:40] #1772 closed

[2022-04-25 17:58] jarkkojs opened #1780 "[Bug]: feature flags have no effect to `shim-sgx`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

* `disable-sgx-attestation` does not apply.
* `dbg` does not lead to `debugln`'s to print out.

### Expected Behaviour

-

### Environment Information

-

### Steps To Reproduce

_No response_

[2022-04-25 18:00] jarkkojs commented on #1780
blocker for SGX2 features, it's too difficult and time-consuming to debug it.

[2022-04-25 18:31] haraldh commented on #1558
fixed now, isn't it?

[2022-04-25 18:33] haraldh commented on #1558
with #1665

[2022-04-25 18:33] #1558 closed

[2022-04-25 18:35] haraldh commented on #1398
does this still count as a bug issue?

[2022-04-25 19:38] rjzak commented on #1398
No I don't believe so

[2022-04-25 19:38] #1398 closed

[2022-04-26 04:01] jarkkojs opened #1783 "[Feature]: feat(sgx): initiate memory mappings from the shim"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

It does not really matter all that much whether PTE's contain RWX or something else for the enclave's security's sake, BUT there are some good reasons to make them match anyhow:

* Increases the probability of catching bugs related to corrupted permissions.
* Gives some visibility to the enclave's

[2022-04-26 04:04] jarkkojs commented on #1783
@rvolosatovs Can I get an example how to invoke syscall from shim?

[2022-04-26 07:26] haraldh commented on #1097
Seems to be fixed

[code]

[2022-04-26 07:26] #1097 closed

[2022-04-26 08:27] rvolosatovs commented on #1783
That's probably a question to @haraldh, but looking through the SGX shim code, https://github.com/enarx/enarx/blob/36f19c242b1684da621c1b6c3384e4e3394b7262/crates/shim-sgx/src/handler/mod.rs#L381-L392 is probably what you're looking for, this executes an "opaque" syscall from userspace (hence it uses the `syscall` method), which is triggered by an invalid opcode https://github.com/enarx/enarx/blob

[2022-04-26 11:31] Deepansharora27 commented on #1646
Thanks a lot, @MikeCamel Mike for taking out your crucial time and providing some valuable pointers.

I want to provide some specific  pointers as well . I would love to hear your feedback on this and whether I am approaching our Specific aims correctly or not:

1). As you mentioned in the Specific aims that we need to have this distinction between `Supported` and `Working` Languages and thing whi

[2022-04-26 14:55] platten opened #1790 "MacOS Support for Enarx"

[2022-04-26 14:55] #1780 closed

[2022-04-26 18:52] jarkkojs commented on #1783
Thanks, I'll play with that.

BR, Jarkko

[2022-04-27 08:33] jarkkojs commented on #1637
@haraldh I grepped and looks like that there is mremap code in sallyport. So could it even be that this might start suddenly work after my SGX2 patches are in? Just scoping what needs to be done here.

[2022-04-27 08:37] jarkkojs commented on #1637
Not access to the ledger for querying permission is the thing prevents using the guest handler implementation so I'll instead derive implementation from that.

[2022-04-27 08:49] jarkkojs commented on #1637
It's better first diverge, and then converge later on.

[2022-04-27 08:57] MikeCamel commented on #1646
I think that an HTTP Echo Server is pretty much the minimum usage.  We need networking as we move to "real" applications which are on remote servers, which is that main use case for Enarx.  Anything beyond that is just saying "you can run an application compiled from this language in wasmtime", which isn't really interesting.

Once you move to a remote server, there only way to take input from a u

[2022-04-27 11:56] haraldh commented on #1637
yes, should work, although very inefficiently.

[2022-04-27 14:08] bstrie commented on #1237
I'm calling this a low-priority UX task, since having a lot of unnecessary repos in the Enarx organization makes the contributor experience more confusing than it needs to be.

[2022-04-28 12:27] platten commented on #1710
Changed approach with regards to portable binary vs static binary.

[2022-04-28 12:27] #1710 closed

[2022-04-28 14:37] bstrie opened #1798 "Re-merge exec-wasmtime crates once Cargo supports multidep"
In https://github.com/enarx/enarx/pull/1794 we split the exec-wasmtime crate out into separate library and binary crates. The motivation for this was to keep CI times from increasing; while the exec-wasmtime binary is a mandatory binary dependency (built for the linux-musl target), the exec-wasmtime library (built for the host's target) can be optional, which leads to noticeable build time wins si

[2022-04-28 14:40] bstrie opened #1799 "Pursue stabilization for Cargo multideps"
https://github.com/rust-lang/cargo/pull/10061 , a follow-up to https://github.com/enarx/enarx/issues/1202 .

[2022-04-28 14:40] bstrie commented on #1798
Blocked on https://github.com/enarx/enarx/issues/1799 .

[2022-04-28 20:00] jarkkojs opened #1800 "[Infrastructure]: feat: add CI test for `disable-sgx-attestation`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

To maintain a great developer experience with SGX, CI should run tests with `disable-sgx-attestation` feature flag set, in addition to the normal flow.

It's not absolutely necessary to test this with all three build type

[2022-05-01 21:51] bstrie commented on #1741
Recent article on reducing CI times on a Rust project: https://www.reillywood.com/blog/rust-faster-ci/

[2022-05-02 14:06] #1800 closed

[2022-05-02 14:15] haraldh commented on #1245
https://github.com/WebAssembly/wasi-libc/pull/287

[2022-05-02 17:54] #1790 closed

[2022-05-02 18:17] MikeCamel opened #1805 "[Bug]: Documentation needed for Nil backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

https://enarx.dev/docs/Installation/Requirements does not list Nil backend.

### Expected Behaviour

Requirements should list Nil backend

### Environment Information

n/a

### Steps To Reproduce

_No response_

[2022-05-02 18:21] MikeCamel opened #1806 "[Bug]: Add Mac instructions to Installation docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

No instructions for installation for Macs at https://enarx.dev/docs/Installation/Setup

### Expected Behaviour

Need instructions for Macs

### Environment Information

unknown - I don't have a Mac.

### Steps To Re

[2022-05-02 18:22] MikeCamel opened #1807 "[Bug]: Need instructions for Raspberry Pi"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

No instructions for Raspberry Pi at https://enarx.dev/docs/Installation/Setup

### Expected Behaviour

Same as for Debian/Ubuntu

### Environment Information

aarch64 kernel

### Steps To Reproduce

_No response_

[2022-05-02 18:24] MikeCamel commented on #1805
Needs this, I believe: `--no-default-features --features=backend-nil`

Thus: `cargo build --no-default-features --features=backend-nil`

[2022-05-02 23:24] platten commented on #1805
This should be added to: https://github.com/enarx/enarx/blob/main/docs/Install.md for the upcoming release.

[2022-05-03 14:25] definitelynobody commented on #1753
@platten should we move this out of review/qa in zenhub? not sure where this should belong now

[2022-05-03 15:57] #1531 closed

[2022-05-03 15:57] #1699 closed

[2022-05-03 15:57] #1479 closed

[2022-05-03 15:57] #1506 closed

[2022-05-03 18:03] jarkkojs opened #1813 "[Feature]: Reorder handler functions alphabetically in the handler of shim-sgx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I spent a lot of time thinking where to place a new function to `Handler`. Reorder functions alphabetically so that this time is used instead for something productive.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-05-03 18:11] jarkkojs commented on #1651
This can be closed now, it was part of the PR.

[2022-05-03 18:11] #1651 closed

[2022-05-03 18:38] jarkkojs commented on #1214
It's supported.

[2022-05-03 18:38] #1214 closed

[2022-05-03 18:40] jarkkojs commented on #1381
This is done but things went to sgx crate.

[2022-05-03 18:40] #1381 closed

[2022-05-03 18:43] #1606 closed

[2022-05-03 18:44] jarkkojs commented on #1598
This has been implemented.

[2022-05-03 18:44] #1598 closed

[2022-05-03 18:56] jarkkojs commented on #1637
@Deepansharora27, @rjzak: Can you test with the latest main branch of enarx if the examples work or not, and link the wasm files? The existing links not seem to work anymore.

[2022-05-04 03:10] github-actions[bot] opened #1814 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2267506578).

[2022-05-04 03:10] github-actions[bot] opened #1815 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2267506578).

[2022-05-04 03:11] github-actions[bot] opened #1816 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2267506578).

[2022-05-04 03:12] github-actions[bot] opened #1817 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2267506578).

[2022-05-04 03:13] github-actions[bot] opened #1818 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2267506578).

[2022-05-04 10:40] Deepansharora27 commented on #1637
@jarkkojs Here is the Link to the Binary File : https://keybase.pub/deepansharora27/.NETBinary.wasm
Also, I will check on my end and I will let you know

[2022-05-04 15:33] jarkkojs commented on #1813
Thank you, I follow this suggestion.

[2022-05-04 15:50] rvolosatovs opened #1824 "[Bug]: `cargo test --workspace` broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

[code]
And more like this

### Expected Behaviour

Passing tests of all crates within the workspace

### Environment Information

[code]

### Steps To Reproduce

_No response_

[2022-05-04 16:00] jarkkojs commented on #1637
I'll try it, thank you.

[2022-05-04 16:02] jarkkojs commented on #1637
I did nothing :D

[2022-05-04 16:05] jarkkojs commented on #1637
[code]

Rarely I'm so excited to see "Hello, world!". @Deepansharora27 can you peer test this? Just use the very latest main from enarx? Then we can close this.

[2022-05-04 16:21] bstrie commented on #1814
Should be fixed by https://github.com/enarx/enarx/pull/1811 .

[2022-05-04 16:22] #1814 closed

[2022-05-04 16:22] bstrie commented on #1815
Should be fixed by https://github.com/enarx/enarx/pull/1811 .

[2022-05-04 16:22] #1815 closed

[2022-05-04 16:22] bstrie commented on #1816
Should be fixed by https://github.com/enarx/enarx/pull/1811 .

[2022-05-04 16:22] bstrie commented on #1817
Should be fixed by https://github.com/enarx/enarx/pull/1811 .

[2022-05-04 16:22] #1817 closed

[2022-05-04 16:22] bstrie commented on #1818
Should be fixed by https://github.com/enarx/enarx/pull/1811 .

[2022-05-04 16:22] #1818 closed

[2022-05-04 16:25] jarkkojs commented on #1426
@haraldh, @npmccallum, @platten: Could we close this now? We have issues tracking e.g. in-shim page tracking etc. This does not have clear definition of done, and has danger to hang around forever. I think we could say that now the basic EDMM support is fully completed.

[2022-05-04 16:54] Deepansharora27 commented on #1637
Sometimes it takes a bit long to return the output 😅

[2022-05-04 16:55] Deepansharora27 commented on #1637
Sure !! let me test it out

[2022-05-04 17:33] Deepansharora27 commented on #1637
@jarkkojs It is working as expected. :D

[2022-05-04 17:35] jarkkojs commented on #1637
Awesome! Good to hear! Thank you for your help, most appreciated!

[2022-05-04 17:37] Deepansharora27 commented on #1637
Thanks a ton to you  and Harald @haraldh help's lin making this work

[2022-05-05 03:06] github-actions[bot] opened #1827 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2273435483).

[2022-05-05 03:06] github-actions[bot] opened #1828 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2273435483).

[2022-05-05 03:06] github-actions[bot] opened #1829 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2273435483).

[2022-05-05 03:07] github-actions[bot] opened #1830 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2273435483).

[2022-05-05 03:07] github-actions[bot] opened #1831 "[BUG]: Failure while testing Markdown documentation"
There was a failure when testing the documentation. Please review the log from the [failed test-doc action](https://github.com/enarx/enarx/actions/runs/2273435483).

[2022-05-05 12:23] platten commented on #1831
False positive. Toolchain updated prematurely.

[2022-05-05 12:23] #1831 closed

[2022-05-05 12:23] platten commented on #1830
False positive. Toolchain updated prematurely.

[2022-05-05 12:23] #1830 closed

[2022-05-05 12:23] platten commented on #1829
False positive. Toolchain updated prematurely.

[2022-05-05 12:23] #1829 closed

[2022-05-05 12:24] platten commented on #1828
False positive. Toolchain updated prematurely.

[2022-05-05 12:24] #1828 closed

[2022-05-05 12:24] platten commented on #1827
False positive. Toolchain updated prematurely.

[2022-05-05 12:24] #1827 closed

[2022-05-05 15:11] bstrie commented on #1813
Yes, I think it makes sense to group things into logical categories (via comments or modules or however you want to do it), but within each category things should be alphabetized.

[2022-05-06 10:41] MikeCamel opened #1836 "[Feature]: VS Code extensions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

To improve user take-up, VS Code extensions should be created for various languages and platforms to allow creation of Wasm files and execution directly in Enarx (probably in Nil keeps).

Languages should include all supported languages (see https://github.com/enarx/enarx/issues/1646).
Platforms s

[2022-05-06 10:43] MikeCamel opened #1837 "[Infrastructure]: "Nil" issue Label"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

There are labels for SGX, KVM, SEV, etc., but none existing for Nil.  We should add this for tracking and ease of management.

[2022-05-06 16:58] jarkkojs commented on #1813
This issue needs to be open up until I've implemented it. It's relevant but not a priority.

[2022-05-06 17:06] jarkkojs commented on #1204
@npmccallum, @haraldh: Just to keep you up to date with delta, implementing this fully would take me only 2-3 full work days to the point that there was open PR for review. Of course review cycles likely add about the same amount of time but this not really far away.

I would basically add two new enarxcalls:

1. `MmapSgx`: simply does `mmap()` syscall and not much else.
2. `MprotectSgx`: does wha

[2022-05-06 17:11] jarkkojs commented on #1783
I will close this because this a duplicate to #1204. In that issue, I've documented the implementation approach.

[2022-05-06 17:11] #1783 closed

[2022-05-06 17:11] jarkkojs commented on #1090
@haraldh, @rvolosatovs: what is this, and is this valid?

[2022-05-06 17:13] jarkkojs commented on #1183
@npmccallum, @haraldh, @platten: Can we close this or not?

[2022-05-06 17:16] jarkkojs commented on #1426
Can we close this?

[2022-05-06 17:17] jarkkojs commented on #1428
@haraldh Should I implement this (at some point)? It's pretty easy by reusing mmap() code.

[2022-05-06 17:18] jarkkojs commented on #1539
Duplicate to #1429.

[2022-05-06 17:18] #1539 closed

[2022-05-06 18:37] rvolosatovs commented on #1090
This should be done now

[2022-05-06 18:37] #1090 closed

[2022-05-06 18:53] jarkkojs commented on #1836
IMHO, this should be extended to Sublime Text.

[2022-05-06 18:56] #1624 closed

[2022-05-06 18:57] MikeCamel commented on #1836
We should create a wishlist. Eclipse, Emacs,...

[2022-05-06 18:57] jarkkojs commented on #1807
So, why this is a bug? Shouldn't this be a feature?

[2022-05-06 18:58] MikeCamel commented on #1807
Any functionality without documentation is a bug.

[2022-05-06 19:04] jarkkojs commented on #1836
I had an impression that both would use JavaScript but unfortunately Sublime Text uses Python for extensions, while VSCode uses JavaScript [1] [2]. I personally just use vim :-)

[1] https://code.visualstudio.com/api/get-started/your-first-extension
[2] https://www.sublimetext.com/docs/1/plugin-basics

[2022-05-06 19:05] jarkkojs commented on #1807
OK, makes sense.

[2022-05-06 19:06] jarkkojs commented on #1836
I.e. if they both had used JS, then it would have made sense to derive two extensions from same codebase, and get a better reach for a cheap price.

[2022-05-06 19:29] jarkkojs commented on #1837
I created a label for nil.

[2022-05-06 19:32] jarkkojs commented on #1837
I guess this can be closed now?

[2022-05-06 21:38] jarkkojs opened #1841 "[Feature]: Refactor out the SGX1 workarounds from `wasmldr`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

-

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-05-06 21:39] jarkkojs commented on #1841
@npmccallum, I created an issue to track this, since there was no any, and you've mentioned about this a few times.

[2022-05-06 21:42] platten opened #1842 "[Feature]: Release 0.5 version of Enarx"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Release 0.5 version of Enarx

### Acceptance Criteria

- [x] Updated release notes
- [x] Any pre-release PRs merged
- [x] Maintenance window scheduled
- [x] Pre-release crates tested
- [x] Creates published
- [x] GitHub release drafted
- [x] GitHub release published
- [x] Documentation published
-

[2022-05-07 18:08] bstrie opened #1846 "Make `cargo test --all-features` run all tests"
Currently in our workspace, `cargo test` runs many more tests than `cargo test --all-features`. This is because most of our tests are disabled in the presence of the off-by-default "gdb" feature. But this is confusing for contributors, as it's ordinarily expected that `cargo test --all-features` is the preferred way to run the test suite locally before submitting PRs.

The reason that the tests ar

[2022-05-07 19:22] #1837 closed

[2022-05-08 20:55] jarkkojs commented on #1841
I had issues finding out any workaround because they do not exist! Closing this.

[2022-05-08 20:55] #1841 closed

[2022-05-09 13:50] haraldh commented on #1846
How would that work with gdb?

[2022-05-09 15:24] bstrie opened #1848 "Determine names for new `enarx run` commands"
We decided that we would like to allow users to operate in two separate modes, one where they're deploying code from a Drawbridge instance and another where they're running code locally. We would like to have separate Enarx subcommands for each mode, to make it maximally clear which is being used. We need to determine what these names should be, however.

Ideas for remote deployment command:
* `en

[2022-05-09 15:30] bstrie opened #1849 "Rename `enarx run`"
Split this command out into two separate subcommands, one for remote deployment and one for local development. For bikeshedding the names of these commands, see this issue: https://github.com/enarx/enarx/issues/1848

[2022-05-09 15:32] bstrie opened #1850 "Enforce backends for `enarx deploy`"
For the forthcoming [`enarx deploy`](https://github.com/enarx/enarx/issues/1849) (or [whatever it's called](https://github.com/enarx/enarx/issues/1848)) we should enforce that it only has the capability to target a secure backend (SGX or SEV). Potentially it could also be allowed to target KVM, but only via a flag.

[2022-05-09 15:33] rvolosatovs opened #1851 "[Feature]: Reproducible release builds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We want to produce reproducible builds for releases.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

Use Nix, we should revive https://github.com/enarx/enarx/pull/1564 contributed @veehaitch and bring it to completion

[2022-05-09 18:58] rvolosatovs opened #1852 "[Feature]: Support `drawbridge://` URL scheme for `enarx deploy`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Support `drawbridge://` URL scheme for `enarx deploy`, in which case Steward URL should be pulled from the API

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-05-09 18:59] rvolosatovs opened #1853 "[Feature]: Guard `http://` deploy URL scheme by a flag"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

`http` is useful for testing and development, but we probably should enforce `https`, therefore introduce `--insecure` flag to allow fetching via `http` and deny by-default.
Steward connection is always HTTPS.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

[2022-05-09 19:00] rvolosatovs opened #1854 "[Feature]: Validate `Content-Digest` of downloaded data in `exec-wasmtime`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Validate `Content-Digest` of downloaded data in `exec-wasmtime`

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-05-09 19:01] rvolosatovs opened #1855 "[Feature]: Test `enarx deploy` with a remote URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Test `enarx deploy` with a remote URL

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

Bind on a socket, accept a connection, parse the request, assert all headers, version etc. and return the expected data

[2022-05-09 19:03] rvolosatovs opened #1856 "[Feature]: Refactor/reorganize CLI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

CLI implementation could benefit from some refactoring, functionality is scattered around and it's different to navigate and extend.
We should try to simplify this and keep related functionality close, e.g. `run` command options should be defined in the same module (file) where the actual `run` im

[2022-05-09 19:06] rvolosatovs opened #1857 "[Feature]: Default to a Drawbridge slug in `enarx deploy`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently only URLs are supported. We should assume default Drawbridge instance slugs, such that users could simply do:
[code]

Refs #1852 , but not necessarily blocked by it

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

Once we have #1852, on-the-fly con

[2022-05-09 19:12] rvolosatovs opened #1858 "[Feature]: Pull the workload after successful Steward attestation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Currently the whole Enarx package is pulled at once. First the certificate should be acquired and only then the workload should be attempted to be fetched.
Currently Steward URL is located in `Enarx.toml`, therefore first the `Enarx.toml` should be fetched, then the certificate is to be acquired a

[2022-05-09 19:15] rvolosatovs opened #1859 "[Feature]: Initialize the buffer capacity using `Content-Length` header"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When fetching objects, especially large, initialize the buffer using value in `Content-Length` header, if specified. Note, that we should probably have some hard limit on this to prevent a malicious party from sending a very high number to attempt to case an OOM.
Currently only relevant for `exec-

[2022-05-09 19:23] rvolosatovs opened #1860 "[Feature]: Communication to the host from `exec-wasmtime`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

An unnamed Unix socket was introduced in #1826 - use it to send logs, errors and anything else we may need to communicate to the host from the guest

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-05-10 05:41] MikeCamel commented on #1805
This is a BLOCKER for 0.5.0 release.

[2022-05-10 05:41] MikeCamel commented on #1807
This is a BLOCKER for 0.5.0 release.

[2022-05-10 05:42] MikeCamel commented on #1806
This is a BLOCKER for 0.5.0 release.

[2022-05-10 06:27] #1609 closed

[2022-05-10 12:32] #1798 closed, assigned to bstrie

[2022-05-10 12:56] #1805 closed

[2022-05-10 12:56] #1806 closed

[2022-05-10 12:56] #1807 closed

[2022-05-10 13:31] bstrie commented on #1740
cc https://github.com/enarx/enarx/pull/1862 .

[2022-05-10 14:21] #1852 closed

[2022-05-10 14:24] rjzak commented on #1848
I vote something short and concise, like `enarx test` or `enarx run`. Both imply (in my mind) local testing, and "deploy" sounds more serious and implies doing real work.

[2022-05-10 14:25] bstrie commented on #1857
TODO: define slug, including `@#` syntax.

[2022-05-10 14:29] bstrie commented on #1859
TODO: block on encrypted filesystem support, then stream file directly to disk.

[2022-05-10 21:42] #1851 closed

[2022-05-11 14:10] #1211 closed

[2022-05-11 15:01] rvolosatovs opened #1875 "[Feature]: Setup `nix` caching"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Use https://cachix.org for public caching. That means that we'd provide a binary cache for our CI to use and for users to avoid having to compile our code.

We already have a `profianinc` cache namespace I created earlier, but we probably want an `enarx` one for this repo. I would need access to r

[2022-05-11 15:17] rvolosatovs opened #1876 "[Feature]: Mac support for `nix`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Add support for Mac in `nix` flake

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-05-11 15:43] bstrie opened #1877 "Streamline `cargo install`"
Currently, this is what our installation documentation lists for installing from crates.io:

[code]

Ideally, it would just be this:

[code]

* Some elements of this `cargo install` command already appear to be unnecessary: `--bin enarx` can almost certainly be removed without consequence, as can the `x86_64-unknown-linux-gnu` target
* The `CARGO_TARGET` env var can be removed once we resolve our

[2022-05-11 15:51] bstrie opened #1878 "Towards a 1.0 release of Enarx"
As soon as users start incorporating Enarx into their workflows, we will start to become highly constrained with regard to making breaking changes. Rather than being forced into de-facto stabilizing the Enarx CLI by accident, let's look toward what it would take to consciously commit to a 1.0 release of the Enarx tool.

Areas that would be covered by the stability promise:

* The Enarx CLI (all co

[2022-05-11 19:12] npmccallum opened #1879 "[Infrastructure]: Unable to attest an SGX keep on babbage"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Attempting to run an enarx keep on babbage results in an attestation failure. It fails at this line:
https://github.com/profianinc/steward/blob/main/src/ext/sgx/quote/qe/cert.rs#L30

I think this is caused by something in

[2022-05-11 19:14] haraldh commented on #1879
most probably pccs is not running

[2022-05-11 19:15] haraldh commented on #1879
because we did not automate the  aesmd with pics, because of API key

[2022-05-12 06:31] haraldh commented on #1848
So, the goal for local development should be, that I can run it like this (without any wasmtime installation) and have a full development experience:

[code]

[code]

And for testing we could even allow passing arguments, which then allows arguments to the test harness like this:

[code]

which currently looks like this:

[code]

[2022-05-12 06:35] haraldh commented on #1848
So, for my part I like `enarx run` or `enarx run-local` and/or `enarx test` or `enarx test-local` (for the testing part with argument passing).... but naming is hard, and I don't really care, except for backwards compatibility...

[2022-05-12 08:06] Deepansharora27 commented on #1602
@MikeCamel HI Mike, with some substantial efforts, I am now able to compile my Java Source Code to a WebAssembly Binary and then have it run on Wasmtime.

But, there is a Caveat Here:
As I updated you in our Scrum Call, as of now we will only be able to support Static Java Code without any Object Allocation. Since if we try to use any object allocation in our Source Code, it panics and gives out a

[2022-05-12 08:17] MikeCamel commented on #1602
Great work - looking forward to seeing how this works out.  Is there any hope for Object code in the near future, do you think?

[2022-05-12 08:27] Deepansharora27 commented on #1602
Yes, I guess there is Hope. It depends on the Progress of the Wasmtime toolchain and how far is it from integrating Garbage Collection Support into it.  As soon as we have it, we would be able to run Object Oriented Code without any Blockers :)

[2022-05-12 08:38] MikeCamel commented on #1602
@npmccallum - who's a good person to ask about wasmtime and GC?

[2022-05-12 11:09] nickvidal commented on #1848
I've given some thoughts to this. Is there a case where people will want to deploy applications using Enarx, but without TEEs/attestation? We give them the opportunity to use Enarx now, and let them take full advantage of CC at a later point, or for some sensitive workloads? In other words, we create a smooth path towards CC, until it's generally available across SCP.

For that reason, I would avo

[2022-05-12 11:20] nickvidal commented on #1848
Not _encourage_, but as an option.

That's perfect.

[2022-05-12 12:08] #1875 closed

[2022-05-12 12:50] rjzak commented on #1848
I agree with Harald's comment above, Enarx should be runnable with `cargo test`. It would be great to see Enarx be a part of the Wasm development process.

[2022-05-12 12:55] rjzak commented on #1602
It seems that garbage collection shouldn't be needed for allocation. Rust, Go, etc allocate memory for variables without issue. The garbage collection should be handled however WebAssembly runtimes decide to free unused memory (which happens automatically I think since WebAssembly is stack-based). It might be that bringing Java to WebAssembly might mean the entirety of the Java runtime, which is h

[2022-05-12 13:41] rvolosatovs opened #1882 "[Feature]: override TLS `poll_oneof`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Current `poll` implementation on TLS FDs is not correct, since it may report that there is data to be read in cases where the is no *plaintext* data to be read, e.g. if there's ciphertext in the buffer, but no plaintext can be decrypted yet.
cc @npmccallum

### Acceptance Criteria

_No response_

[2022-05-12 13:46] npmccallum commented on #1879
@haraldh We need a way to keep this up. It impacted a demo yesterday.

[2022-05-12 13:54] haraldh commented on #1879
@npmccallum see
https://gitlab.com/enarx/aesmd/-/merge_requests/7
and
https://gitlab.com/haraldh/pccs

There are docker images already available.

[2022-05-12 13:57] haraldh commented on #1879
basically:
[code]

[2022-05-12 13:58] npmccallum commented on #1879
@haraldh

1. Can we move the PCCS crate into the gitlab org?
2. Can we ensure that everything except the manual secret setup step is in our bootable containers?

[2022-05-12 14:17] haraldh commented on #1882
return EAGAIN as a fast fix

[2022-05-12 15:56] bstrie commented on #1848
We could also distribute a `cargo-enarx` tool that hooks into Cargo and is invoked via `cargo enarx test`.

[2022-05-13 18:51] Horcrux7 commented on #1602
The limited features of WebAssembly prevent the implementation of a Garbage Collection like used in Java.  For example the inspection of the references that are hold from the stack only.

[2022-05-13 19:05] Deepansharora27 commented on #1602
Thanks a lot for providing all the help Mr. Volker.
@Horcrux7

[2022-05-16 12:09] haraldh commented on #1846
basically, it would be:
[code]

But the shims don't get the `test` `cfg()`, when they are compiled.

[2022-05-16 13:26] rvolosatovs opened #1888 "[Feature]: Official aarch64 builds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We should provide official aarch64 builds

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

Adapt `flake.nix` and release workflow from #1881 to cross-compile for aarch64

[2022-05-16 13:26] rvolosatovs commented on #1888
Assigning myself, because I both have experience with doing this on Github Actions and Nix.

[2022-05-17 17:55] Freax13 opened #1891 "[Enhancement]: use `bytemuck` for casting structures to bytes and vice versa"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

There are a couple of places where we cast a reference to a struct to a pointer and immediately construct an slice with that pointer e.g.
https://github.com/enarx/enarx/blob/9ee6ae71b2da000612654aa119664ee578ddcf6b/crates/sallyport/src/item/enarxcall/sgx.rs#L97-L102
https://github.com/enarx/enarx/

[2022-05-17 17:55] Freax13 commented on #1891
I'd be happy to contribute a pr if this is something you'd be interested in.

[2022-05-18 04:29] jarkkojs opened #1892 "[Feature]: Use `PROT_NONE` in the SGX backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

-

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-05-18 14:16] haraldh commented on #1892
depends on upstream kernel

[2022-05-19 07:57] bstrie opened #1894 "Improve code coverage"
As of this writing our overall code coverage sits at 58%: https://app.codecov.io/gh/enarx/enarx . It would be nice to get that somewhere north of 90%. People have mentioned that there are some difficulties related to our ability to instrument the shims which is dragging down our percentage, so if something that we're doing is truly untestable then we should try to find a way to exclude the untesta

[2022-05-19 07:59] bstrie opened #1895 "Mac and Windows documentation"
Now that Enarx supports development on Windows via the nil backend, we need to make sure that we have developer-focused documentation on how to set it up and use it.

[2022-05-19 10:02] haraldh commented on #1894
|                   |        |
|-------------------|-------:|
| src               | 82.08% |
| exec-wasmtime | 57.94% |
| sallyport     | 84.16% |
| shim-kvm      |  4.56% |
| shim-sgx      | 14.13% |

[2022-05-19 13:31] haraldh commented on #1894
With #1899 I marked untestable regions... other functions/methods could be tested with mocked objects in `#[test]` functions.

[2022-05-19 13:31] haraldh commented on #1894
@jarkkojs could mark those regions as well for the `shim-sgx`.

[2022-05-19 14:21] bstrie commented on #1895
Looking at it, I'm not sure if we have Mac documentation either.

[2022-05-19 15:03] haraldh commented on #1771
what about `asm_const`, `asm_sym` and `naked_functions` ???

[2022-05-19 16:24] jarkkojs commented on #1894
`#![cfg_attr(coverage, no_coverage)]` to the beginning of the file?

[2022-05-19 16:29] haraldh commented on #1894
no, per function.   see https://github.com/enarx/enarx/pull/1901

[2022-05-19 18:36] bstrie commented on #1771
@haraldh Those are covered by https://github.com/enarx/enarx/issues/1372 , which is for "unstable things that we currently require to compile". This issue is for "unstable things that we'd like to be using, but not enough to start adding them into the codebase before they're stable", and also for "unstable things that we currently require to test".

[2022-05-19 20:09] bstrie commented on #1894
@jarkkojs keeping in mind that we only want to use that approach on functions that *cannot* be tested, and not just functions that we don't currently test.

[2022-05-20 16:43] bstrie commented on #1771
Harald mentioned that these APIs would be useful: https://twitter.com/Gankra_/status/1527677134021578752

[2022-05-23 18:27] #1426 closed

[2022-05-23 18:39] jarkkojs commented on #311
@platten Can we close this? The struct does not even exist.

[2022-05-23 18:40] jarkkojs commented on #540
@platten  How are we going to progess with this?

[2022-05-23 18:41] jarkkojs commented on #472
@platten Is this still valid?

[2022-05-23 22:30] jarkkojs opened #1914 "[Feature]: feat(sallyport): minimal in-guest signal handler support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Support for `rt_sigaction()` and `sigaction()` must be added to `sallyport::guest::Handler`, in order to support handling of signals in host and guest.

The issues depending on this:

* https://github.com/enarx/enarx/issues/995
* https://github.com/enarx/enarx/issues/1230

### Acceptance Criteria

[2022-05-24 14:43] Freax13 opened #1916 "[Security]: `shim-sgx` doesn't validate pointer to the sallyport block"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

The pointer to the sallyport block passed in from the host is never validated: https://github.com/enarx/enarx/blob/83751fccb04e23912fc2d8f82dfdc4adf432d608/crates/shim-sgx/src/main.rs#L223

A malicious host could pa

[2022-05-24 15:40] platten commented on #1876
@rvolosatovs with #1881 and #1906 , is this still an issue?

[2022-05-24 16:29] bstrie opened #1920 "CI coverage job often randomly fails to upload"
For every PR we run multiple coverage jobs, and most of the time at least one of the spuriously fails with the following:

[code]

...which forces us to manually re-run the failed job, which is annoying and wastes time.

Harald has filed an issue with codecov, as he believes the error has to do with uploads from private runners being rate-limited: https://community.codecov.com/t/sporadic-codecov-c

[2022-05-24 16:44] #1916 closed

[2022-05-24 20:56] platten opened #1924 "[Infrastructure]: Release improvements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

## `helper/release_enarx.sh`
  - Bugs
	- lower case 'release 0.5.1' to make sure that commit checker passes
	- lower case 'release' for PR to make sure commit checker passes
	- Sleep 60 seconds between published crates to

[2022-05-24 20:59] platten opened #1925 "[Infrastructure]: support release branches"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Currently we do not support release branches in `helper/release_enarx.sh` which require a maintenance window while the release is in progress. The goal for this issue is to ensure that `helper/release_enarx.sh` is extende

[2022-05-24 21:14] platten opened #1926 "[Infrastructure]: gpg signing for robot account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

It would be beneficial to require signed commits, and have `enarxbot` sign code that it would automerge.

This will require generating a GPG key and reconfiguring the `enarxbot` account.

[2022-05-24 21:19] platten opened #1927 "[Infrastructure]: Trigger documentation rebuild on publish"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

Use [actions-netlify](https://github.com/nwtgck/actions-netlify) (or something similar) to trigger a production documentation build following creating a release. Actual publishing should continue to be manually gated.

[2022-05-26 14:30] platten opened #1929 "[Infrastructure]: Update graphics/branding for MSI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

It would be good to ensure the MSI installer for Enarx has the appropriate branding. This would entail:
- discovering what assets we need and in which size/format(s)
- adding the assets to the repo
- updating the WiX file

[2022-05-26 20:04] jarkkojs opened #1930 "[Bug]: Fix issues in README-DEBUG.MD"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Before moving GDB documentation anywhere it should be *working GDB documentation*. Analogously to source code, modifications should be done only from a healthy starting point.

### Expected Behaviour

-

### Environ

[2022-05-27 10:35] bstrie opened #1933 "Add CI action to check for the presence of licensing headers"
I don't believe there's any automated action guaranteeing that all of our files are licensed properly. There should be, and it should exist for *all* our repos, every single one.

[2022-05-27 14:06] MikeCamel opened #1934 "[Feature]: Add AMX support for SGX Keeps"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

https://www.intel.com/content/www/us/en/develop/documentation/cpp-compiler-developer-guide-and-reference/top/compiler-reference/intrinsics/intrinsics-for-amx-instructions.html

This is being turned on in upcoming chipsets, and we should hopefully just be able to turn it on with a flag.  However, n

[2022-06-01 01:49] jarkkojs opened #1938 "[Feature]: reburnish SEV-SNP GDB documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Debt from #1930.

### Acceptance Criteria

_No response_

### Suggestions for a technical implementation

_No response_

[2022-06-01 13:50] platten opened #1940 "[Bug]: Nix installation failures on self-hosted GitHub runners"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

The `release.yml` workload is routinely failing on the `cachix/install-nix-action` step due to previous state on self-hosted GitHub runners and requires routine manual intervention. This is not sustainable and has b

[2022-06-01 13:56] rvolosatovs commented on #1940
Refs https://github.com/cachix/install-nix-action/issues/98 (please check the thread for possible solutions, if any)

[2022-06-01 16:28] platten opened #1941 "[Infrastructure]: Audit os installation requirements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Description

With the removal of the openssl dependency, it would make sense to update our installation documentation and test if tests still pass.

[2022-06-01 18:15] platten opened #1942 "Enarx v0.5.2 Release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Release 0.6.0 version of Enarx

### Acceptance Criteria
- [x] Identify castle theme for release: https://en.wikipedia.org/wiki/Fushimi_Castle
- [ ] Versioned documentation updated #1895
- [ ] Prepared release notes including
- [ ] Any pre-release PRs merged
- [ ] Maintenance window scheduled
- [ ]

[2022-06-03 14:04] #1924 closed

[2022-06-03 18:23] bstrie opened #1944 "Document Enarx.toml"
The format of Enarx.toml is part of our public API, and needs documentation for every possible key.

[2022-06-06 07:26] jarkkojs opened #1945 "[Bug]: VMA's do not get merged on `brk()`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

### Current Behaviour

Every `brk()` generates a new VMA.

See this discussion:

https://lore.kernel.org/linux-sgx/Yp2q68qYtdpR+Z+T@iki.fi/

### Expected Behaviour

There should be one VMA for all `brk()` calls.

### Environment Informati